<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>Europe</title>
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/europe.css">
</head>

<body>
    <header>
        <h1>
            <a href="index.html"><img src="images/livingplantwhite.svg" alt="Rinard Orchid Greenhouse"></a>
        </h1>

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <menu>
            <h1>Place of Origin: Europe</h1>
            <ul id="tabs">

                <li class="active"><a href="">Northern</a></li>
                <li><a href="">Middle</a></li>
                <li><a href="">Southwestern</a></li>
                <li><a href="">Southeastern</a></li>
                <li><a href="">Eastern</a></li>
            </ul>
        </menu>
        <section id="grid">

            <aside class="menubox">

                <div class="box">
                    <div class="container1">
                        <input type="search" id="search" placeholder="Search. . .">
                    </div>
                </div>
                <section class="whitebox">
                    <ul>
                        <li>
                            <a href="">
                                <h4> Orchids </h4></a>
                        </li>
                        <li> <a href="">Special Collections</a></li>
                        <li><a href="alphabetical.html">Alphabetical</a></li>
                        <li>
                            <a href="place-of-origin.html">
                                <div class="selected">Place of Origin</div>
                            </a>
                        </li>
                        <section class="countries">
                            <ul>
                                <li><a href="">Asia</a></li>
                                <li><a href="">Africa</a></li>
                                <li><a href="europe.html"><div class="selected"> Europe</div></a></li>
                                <li><a href="">North America</a></li>
                            </ul>
                        </section>
                        <li><a href="">What's in Bloom</a></li>
                        <li><a href="">Subfamilies</a></li>
                        <li><a href="">Images</a></li>
                        <hr />
                        <li>
                            <a href="">
                                <h4>Ferns</h4></a>
                        </li>
                    </ul>
                </section>
            </aside>
            <section id="plants">
                <ul>
                    <li>
                        <a href="plant.html"><img src="http://placekitten.com/400/400" alt="">
                            <h3>Lady Slipper</h3> </a>
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                            <h3>Lady Slipper</h3></a>
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                            <h3>Lady Slipper</h3></a>
                    </li>
                    <li>
                    <a href=""> <img src="http://placekitten.com/400/400" alt="">
                        <h3>Lady Slipper</h3></a>   
                    </li>
                    <li>
                    <a href=""> <img src="http://placekitten.com/400/400" alt="">
                        <h3>Lady Slipper</h3></a>   
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Lady Slipper</h3></a>
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Lady Slipper</h3></a>
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Lady Slipper</h3></a>
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Denise Blankenberger</h3></a>
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Denise Blankenberger</h3></a>
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Denise Blankenberger</h3></a>
                    </li>
                    <li>
                        <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Denise Blankenberger</h3></a>
                    </li>
                </ul>
            </section>
        </section>
    </main>
    <footer>
        <a href="http://cms.bsu.edu/"><img src="images/benny.svg" alt="Ball State University"></a>
    </footer>
</body>

</html>