<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>alphabetical</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/alphabetical.css">
</head>

<body>
<header>
    <h1>
        <a href="viewcollections.html"><img src="../images/livingplantwhite.svg" alt="Rinard Orchid Greenhouse"></a>
    </h1>

    <nav>
        <ul>
            <li><a href="viewcollections.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <menu>
        <h1>Collections</h1>
    </menu>
    <section id="grid">

        <aside class="menubox">

            <div class="box">
                <div class="container1">
                    <input type="search" id="search" placeholder="Search. . .">
                </div>
            </div>
            <section class="whitebox">
                <ul>
                    <li>
                        <a href="">
                            <h4> Orchids </h4></a>
                    </li>
                    <li> <a href="special-collections.html">Special Collections</a></li>
                    <section class="countries">
                        <ul>
                            <li id="firstChild"><a href="specialCollections.html" >Special #1</a></li>
                            <li><a href="#">Special #2</a></li>
                            <li><a href="#">Special #3</a></li>
                            <li><a href="#">Special #4</a></li>
                            <li><a href="#">Special #5</a></li>

                        </ul>
                    </section>
                    <li>
                        <a href="alphabetical.html">
                            <div id="alphabetical"> Alphabetical </div>
                        </a>
                    </li>
                    <li>
                        <a href="place-of-origin.html">
                            <div id="place">Place of Origin</div>
                        </a>
                    </li>

                    <li><a href="">What's in Bloom</a></li>
                    <li><a href="">Subtribes</a></li>

                    <section class="countries">
                        <ul>
                            <li><a href="#">Acianthinae</a></li>
                            <li><a href="#">Bletiinae</a></li>
                            <li><a href="#">Caladeniinae</a></li>
                            <li><a href="#">Dendrobiinae</a></li>
                            <li><a href="#">Epipogiinae</a></li>

                        </ul>
                    </section>




                    <hr />
                    <li>
                        <a href="">
                            <h4>Other Plants</h4></a>
                    </li>
                    <li><a href="">Alphabetical</a></li>
                    <li><a href="">Flowering Plants</a></li>
                    <li><a href="">Conifers, Cycads, and Allies</a></li>
                    <li><a href="">Fern's and Fern Allies</a></li>
                    <li><a href="">Mosses and Liverworts</a></li>
                </ul>
            </section>
        </aside>






        <section id="plants">
            <ul>
                <li>
                    <a href="specialCollections.html"><img src="http://placekitten.com/400/400" alt="">
                        <h3>Collection 1</h3> </a>
                </li>
                <li>
                    <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Collection 2</h3></a>
                </li>
                <li>
                    <a href=""><img src="http://placekitten.com/400/400" alt="">
                        <h3>Collection 3</h3></a>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Collection 4</h3>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Collection 5</h3>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Collection 6</h3>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Lady Slipper</h3>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Lady Slipper</h3>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Denise Blankenberger</h3>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Denise Blankenberger</h3>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Denise Blankenberger</h3>
                </li>
                <li>
                    <img src="http://placekitten.com/400/400" alt="">
                    <h3>Denise Blankenberger</h3>
                </li>
            </ul>
        </section>
    </section>
</main>
<footer>
    <a href="http://cms.bsu.edu/"><img src="../images/benny.svg" alt="Ball State University"></a>
</footer>
</body>

</html>