<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/contact.css">
</head>

<body>
    <header>
        <h1>
            <a href="index.html"><img src="../images/livingplantwhite.svg" alt="Rinard Orchid Greenhouse"></a>
        </h1>

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact">
            <h1>Contact</h1>
            <section class="intro">
                <p>Get in touch with us!</p>
            </section>
            <form action="input" id="form">
                <div id="name-section">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" size="22" maxlength="30" required="required" placeholder="Jane Doe" />
                </div>
                <div id="email-section">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" size="22" maxlength="30" required="required" placeholder="janedoe@mail.com" />
                </div>
                <div id="subject-section">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" size="22" maxlength="30" required="required" placeholder="Question" />
                </div>


                <div id="message" >

                    <label for="message">Message</label>

                    <textarea name="message" id="message" name="message" cols="90" rows="4" required="required" placeholder="Enter your message here"></textarea>

                </div>
                <div id="submit-container">
                    <input type="submit" value="Send" id="button" />
                </div>
            </form>
            
            
            
            <section class="visit">
                <h2>Schedule a Visit</h2>
                <p>To schedule a visit contact

                    <a href="http://cms.bsu.edu/academics/collegesanddepartments/biology/facultyandstaff/biologystaff/leblanccheryl"> Cheryl LeBlanc</a> at 765-285-8839.

                </p>
            </section>
            <h2>Social Media</h2>
            <p>Want to get the latest updates on the Ball State Orchid Greenhouse? Follow us!</p>
            <ul>
               <div id="social-media">
                <section class="facebook">
                    <li>
                        <a href="https://www.facebook.com/WOCSB/"> <span> </span><p>Rinard Orchid Greenhouse - Ball State University </p></a> 
                    </li>
                </section>
                
                <section class="instagram">
                    <li>
                        <a href="https://www.instagram.com/bsu_rogh/"><span> </span> <p> @bsu_rogh</p></a>
                    </li>
                </section>
                </div>
                
            </ul>
        </section>
        <section class="location">
            <h2>Location</h2>
            <p>The Wheeler-Thanhauser Collection is located within Christy Woods, on the southwest end of our campus. Foot access is available via University Avenue or Riverside Avenue. Please contact Parking Services at 765-285-1208 for information about parking on campus.</p>
           <ul>
                <li>Wheeler-Thanhauser Orchid Collection and Species Bank</li>
                <li>Field Station and Environmental Education Center</li>
                <li>Ball State University</li>
                <li>Muncie, IN 47306</li>
            </ul>
            <h2>Hours</h2>
            <p>Our collection is open to the public to Monday through Friday 7:30 a.m. to 4:30 p.m. and Saturday, 10:00 a.m. to 3:00 p.m. for self-guided tours. Assistance from the curator, Cheryl LeBlanc, is available Monday through Friday by arrangement.</p>
        </section>

    </main>
    <footer>
        <a href="http://cms.bsu.edu/"><img src="../images/benny.svg" alt="Ball State University"></a>
    </footer>
</body>

</html>