<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plant</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/plant.css">
</head>

<body>
    <header>
        <h1>
            <a href="viewcollections.html"><img src="../images/livingplantwhite.svg" alt="Rinard Orchid Greenhouse"></a>
        </h1>

        <nav>
            <ul>
                <li><a href="viewcollections.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="title">
        <h1>Lady Slippers</h1>
    </div>
    <main>

        <article>
            <!--            <h1>Lady Slippers</h1>-->
            <img src="http://placekitten.com/740/500" alt="">

<!--SIDE MENU-->
            <aside class="menubox">

                <div class="box">
                    <div class="container1">
                        <input type="search" id="search" placeholder="Search. . .">
                    </div>
                </div>
                <section class="whitebox">
                    <ul>
                        <li>
                            <a href="">
                                <h4> Orchids </h4></a>
                        </li>
                        <li><a ui-sref="generalCollections">Special Collections</a></li>
                        <section class="special">
                            <ul>
                                <li><a ui-sref="specificCollection">Speical Collection 1</a></li>
                                <li><a ui-sref="specificCollection">Speical Collection 2</a></li>
                                <li><a ui-sref="specificCollection">Speical Collection 3</a></li>
                                <li><a ui-sref="specificCollection">Speical Collection 4</a></li>
                            </ul>
                        </section>
                        <li><a ui-sref="alphabetical">Alphabetical</a></li>
                        <li>
                            <a ui-sref="countries">
                                <div id="place">Countries</div>
                            </a>
                        </li>
                        <li><a ui-sref="blooming">What's in Bloom</a></li>
                        <li><a ui-sref="subtribe">Subtribes</a></li>
                        <section class="special">
                            <ul>
                                <li><a ui-sref="specificSubTribe" id="collection1">Subtribe 1</a></li>
                                <li><a ui-sref="specificSubTribe" id="collection2">Subtribe 2</a></li>
                                <li><a ui-sref="specificSubTribe" id="collection3">Subtribe 3</a></li>
                                <li><a ui-sref="specificSubTribe" id="collection4">Subtribe 4</a></li>
                            </ul>
                        </section>
                        <hr/>

                    </ul>
                </section>
            </aside>

<!--ARTICLE-->
            <section class="sectiontwo">
                <section id="taxonomic" class="property-box transparent-box" >
                    <ul>
                        <li><b>Class:</b> Denise Blankenberger</li>
                        <li><b>Phylum:</b> Name</li>
                        <li><b>Family:</b> Name</li>
                        <li><b>Genus:</b> Name</li>
                        <li><b>Species:</b> Name</li>
                    </ul>
                </section>

                <section id="hybrid" class="property-box transparent-box" >
                    <ul>
                        <li><b>Parent 1:</b> Name</li>
                        <li><b>Parent 2:</b> Name</li>
                        <li><b>GREX:</b> Name</li>
                        <li><b>Status:</b> Name</li>
                    </ul>
                </section>
            </section>

            <section id="description" class="transparent-box">
                <p><b>Description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nesciunt dolorum quia nam quas tempora dicta architecto atque, deserunt, similique enim rerum eos doloremque libero quae sint quis explicabo dolor.</p>
                <br>
                <p><b>Culture:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nesciunt dolorum quia nam quas tempora dicta architecto atque, deserunt, similique enim rerum eos doloremque libero quae sint quis explicabo dolor.</p>
            </section>

            <section id="chart">
                <h3>Flowering Calendar</h3>
                <img src="../images/flowering_chart.svg" alt="flowering chart">
            </section>
        </article>

    </main>
    <footer>
        <a href="http://cms.bsu.edu/"><img src="../images/benny.svg" alt="Ball State University"></a>
    </footer>
</body>

</html>