<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>View Collections</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/viewcollections.css">
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>
<header>
    <h1>
        <a href="index.html"><img src="images/livingplantwhite.svg" alt="Rinard Orchid Greenhouse"></a>
    </h1>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="viewcollection">
        <h1>View Collections</h1>
        <section id="orchids">
            <h2>Orchids</h2>

            <ul>
                <li><a href="#">Special Collections</a></li>
                <li><a href="alphabetical.html">Alphabetical</a></li>
                <li><a href="place-of-origin.html">Place of Origin</a></li>
                <li><a href="">What's in Bloom</a></li>
                <li><a href="">Subfamilies</a></li>
                <li><a href="">Images</a></li>
            </ul>
        </section>

        <section id="ferns">
            <h2>Ferns</h2>

            <ul>
                <li><a href="">Special Collections</a></li>
                <li><a href="">Alphabetical</a></li>
                <li><a href="">Place of Origin</a></li>
                <li><a href="">Subfamilies</a></li>
                <li><a href="">Images</a></li>
            </ul>
        </section>

    </section>
</main>
<footer>
    <a href="http://cms.bsu.edu/"><img src="images/benny.svg" alt="Ball State University"></a>
</footer>
</body>


</html>