<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404 Error</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/water-404.css">
</head>

<body>
   <header>
        <h1>
            <a href="viewcollections.html"><img src="../images/livingplantwhite.svg" alt="Rinard Orchid Greenhouse"></a>
        </h1>
            
        <nav>
            <ul>
                <li><a href="viewcollections.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="water-404">
           <section class="can1">
            <img src="../images/wateringcan.svg" alt="watering can">
            </section>
            <section class="can2">
            <img src="../images/wateringcan.svg" alt="watering can">
            </section> 
            <h1>404</h1>
            <h2>Oh no! Page not found!</h2>
            <h3>Looks like you need some waterin'</h3>
        </section>
    </main>
    <footer>
        <a href="http://cms.bsu.edu/"><img src="../images/benny.svg" alt="Ball State University"></a>
    </footer>
</body>

</html>