<link rel="stylesheet" href="styles/about.css">
<div class="white-section-body">
<section>
    <article>
        <h1>About the Greenhouse <a href="about.html"></a></h1>
        <p>Ball State created the Wheeler-Thanhauser Collection to conserve rare and endangered species of orchids,
            disseminate them for conservation, and use the collection for research and education. We display orchids
            with other tropical plants to give you the impression of being in a small tropical environment.</p>
        <p>A terraced "mountain" and waterfall give you a hint of the cooler, high-elevation rainforest environment and
            a glimpse of the cloud-forest orchids that grow there. You will also witness a display of tropical poison
            arrow frogs, since rainforest conservation is about both plants and animals.</p>
        <figure>
            <img src="images/ball-state-rinard-greenhouse.jpg" alt="Orchid Greenhouse">
            <figcaption>
                <a href="http://cms.bsu.edu/Academics/CentersandInstitutes/FSEEC/Properties/ChristyWoods/Greenhouses/OrchidGreenhouse.aspx" target="_blank">Find
                    out more about the Greenhouse</a>
            </figcaption>
        </figure>
    </article>
</section>
<article>
    <h1>History</h1>
    <p>Ball State founded the Wheeler-Thanhauser Orchid Collection and Species Bank in 1971 after a donation from W.O.
        and Goldie Wheeler of Indianapolis. In 1982, another large donation of nearly 600 orchids was given by Al
        Thanhauser of Connecticut. As a designated plant rescue center, we also receive occasional shipments of orchids
        that have been imported illegally and later confiscated.</p>
    <p>In 2008, an additional donation of over 1,000 orchids was made by Charles Bracker, retired Purdue professor of
        botany and plant pathology. The donation significantly increased the diversity of the collection.</p>
    <p>Dr. Bracker also donated 30,000 digital images of his orchids to Ball State in 2009; many of these actual orchids
        can be viewed in the Wheeler-Thanhauser Collection. These images are currently housed within the University
        Libraries Special Collections under the directorship of John Straw. </p>
</article>
 </div>
