<link rel="stylesheet" href="styles/special-collections.css">
<menu>
    <h1>Special Collections</h1>
</menu>
<section id="grid">

    <aside class="menubox">

        <div class="box">
            <div class="container1">
                <input type="search" id="search" placeholder="Search. . .">
            </div>
        </div>
    </aside>
    <section id="plants">
        <ul>
            <li>
                <a href="collection1.html"><img src="http://placekitten.com/400/400" alt="">
                    <h3>Collection 1</h3></a>
            </li>
            <li>
                <a href="collection2.html"><img src="http://placekitten.com/400/400" alt="">
                    <h3>Collection 2</h3></a>
            </li>
            <li>
                <a href="collection3.html"><img src="http://placekitten.com/400/400" alt="">
                    <h3>Collection 3</h3></a>
            </li>
            <li>
                <a href="collection4.html"><img src="http://placekitten.com/400/400" alt="">
                    <h3>Collection 4</h3></a>
            </li>
        </ul>
    </section>
</section>