<link rel="stylesheet" href="styles/alphabetical.css">

<menu>
    <h1>{{NAMEOFPAGE}}</h1>
    <ul id="tabs">

        <li class="option">
            <span  ng-show="expanded != 'A'" ng-click="expand($event, 'A', 'G')">A - G</span>
            <span  ng-show="expanded == 'A'"></span>
        </li>
        <li>
            <span class="option">H - N</span>
        </li>
        <li>
            <span class="option">O - U</span></li>
        <li>
            <span class="option">V - Z</span>
        </li>

    </ul>
</menu>
<section id="grid">
    <aside class="menubox">

        <div class="box">
            <div class="container1">
                <input type="search" id="search" placeholder="Search. . .">
            </div>
        </div>
        <section class="whitebox">
            <ul>
                
                <li><a ui-sref="generalCollections">Special Collections</a></li>
                <section class="special">
                    <ul>
                        <li><a ui-sref="specificCollection">Speical Collection 1</a></li>
                        <li><a ui-sref="specificCollection">Speical Collection 2</a></li>
                        <li><a ui-sref="specificCollection">Speical Collection 3</a></li>
                        <li><a ui-sref="specificCollection">Speical Collection 4</a></li>
                    </ul>
                </section>
                <li><a ui-sref="alphabetical">Alphabetical</a></li>
                <li>
                    <a ui-sref="countries">
                        <div id="place">Countries</div>
                    </a>
                </li>
                <li><a ui-sref="blooming">What's in Bloom</a></li>
                <li><a ui-sref="subtribe">Subtribes</a></li>
                <section class="special">
                    <ul>
                        <li><a ui-sref="specificSubTribe" id="collection1">Subtribe 1</a></li>
                        <li><a ui-sref="specificSubTribe" id="collection2">Subtribe 2</a></li>
                        <li><a ui-sref="specificSubTribe" id="collection3">Subtribe 3</a></li>
                        <li><a ui-sref="specificSubTribe" id="collection4">Subtribe 4</a></li>
                    </ul>
                </section>
        

            </ul>
        </section>
    </aside>


    <section id="plants">
        <ul>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a ui-sref="specificPlant"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
        </ul>
    </section>
</section>