<!--<aside class="menubox" >-->
    <aside class="menubox" id="alphabet-menu">


        <section class="whitebox">
            <ul>
                <li>
                    <!--
                                        <a href="">
                                            <h4> Orchids </h4></a>
                    -->
                </li>
                <li><a ui-sref="generalCollections">Special Collections</a></li>
                <section class="special">
                    <ul>
                        <li ng-repeat="collection in dynamicSidebarContent.specialCollections">
                            <a ui-sref="specificCollection({ collection: collection.id })">{{collection.name}}</a></li>

                    </ul>
                </section>
                <li><a ui-sref="alphabetical">Alphabetical</a></li>
                <li>
                    <a ui-sref="countries">
                        <div id="place">Countries</div>
                    </a>
                </li>
                <li><a ui-sref="blooming">What's in Bloom</a></li>
                <li><a ui-sref="subtribe">Subtribes</a></li>
                <section class="special">
                    <ul>
                        <li ng-repeat="subtribe in dynamicSidebarContent.subtribes"><a ui-sref="specificSubTribe" id="collection1">{{subtribe.tribe_name}}</a></li>
                    </ul>
                </section>


            </ul>
        </section>
    </aside>

   <section id="grid">
   
    <section ng-show="loading == true">
        LOADING...
    </section>

       <section id="plants" ng-show="loading == false">
           <div ng-show="plants.length == 0">Nothing to see here...</div>
           <section ng-show="plants.length > 0">
               <span ng-repeat="i in getNumberOfPages() track by $index" ng-click="getNewPage($index+1)"></span>
               <ul>
                   <li ng-repeat="plant in plants | filter: searchBox" >
                       <a ui-sref="specificPlant({plant: {{plant.name}} })"ng-style="{'background-image':'url('+plant.picture+')'}">
                         <img src="./images/no_photo.svg" ng-hide="plant.hasPicture" alt=""> 
                          

                          
                          

                           <h3>{{plant.name}}</h3>
                       </a>
                   </li>
               </ul>
           </section>
       </section>
</section>