<link rel="stylesheet" href="styles/alphabetical.css">
<menu>
    <h1>{{NAMEOFPAGE}}</h1>

    <div class="box">
            <div class="container1">
                <input type="search" id="search" placeholder="Search. . ." ng-model="searchBox">
            </div>
        </div>
</menu>

    <aside class="menubox">


        <section class="whitebox">
            <ul>
                <li>
<!--
                    <a href="">
                        <h4> Orchids </h4></a>
-->
                </li>
                <li><a ui-sref="generalCollections">Special Collections</a></li>
                <section class="special">
                    <ul>
                        <li ng-repeat="collection in dynamicSidebarContent.specialCollections">
                            <a ui-sref="specificCollection({ collection: collection.special_collections_id })">{{collection.name}}</a></li>

                    </ul>
                </section>

                <li><a ui-sref="alphabetical.search({ letter: A })">Alphabetical</a></li>
                <li>
                    <a ui-sref="countries">
                        <div id="place">Countries</div>
                    </a>
                </li>
                <li><a ui-sref="blooming">What's in Bloom</a></li>
                <li><a ui-sref="subtribe">Subtribes</a></li>
                <section class="special">
                    <ul>
                        <li ng-repeat="subtribe in dynamicSidebarContent.subtribes"><a ui-sref="specificSubTribe({ tribe: subtribe.tribe_name })">{{subtribe.tribe_name}}</a></li>
                    </ul>
                </section>


            </ul>
        </section>
    </aside>

<section id="grid">
    <section id="plants">
        <div ng-show="collectionOfItems.length == 0">No plants to load</div>
        <ul>
            <li ng-repeat="item in collectionOfItems | filter:searchBox" ng-click="moveTo(item)">
<!--                <a><img src="{{item.picture}}" ng-hide="!item.hasPicture" alt="">-->

<!--                  <a ui-sref="specificPlant({plant: {{plant.name}} })"ng-style="{'background-image':'url('+plant.picture+')'}">-->
                      <a ng-style="{'background-image':'url('+plant.picture+')'}">
                      
                      <img src="{{item.picture}}" ng-hide="!item.hasPicture" alt="">
                      <img src="./images/no-photo.svg" ng-hide="item.hasPicture" alt="">

                <h3>{{item.name}}</h3></a>

            </li>
        </ul>
    </section>
</section>
