<link rel="stylesheet" href="styles/alphabetical.css">
<menu>
    <h1>{{NAMEOFPAGE}}</h1>
</menu>
<section id="grid">


    <section id="plants">
        <ul>
            <li>
                <a ui-sref="generalCollections"><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a href=""><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <a href=""><img src="http://placekitten.com/400/400" alt="">
                    <h3>SOMETHING</h3></a>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
            <li>
                <img src="http://placekitten.com/400/400" alt="">
                <h3>SOMETHING</h3>
            </li>
        </ul>
    </section>
</section>