<link rel="stylesheet" href="styles/viewcollections.css">
<section id="viewcollection">
    <h1>View Collections</h1>
    <section id="orchids">
<!--        <h2>Orchids</h2>-->

        <ul>
            <li><a ui-sref="generalCollections">Special Collections</a></li>
            <li><a ui-sref="alphabetical({letter: 'A'})">Alphabetical</a></li>
            <li><a ui-sref="countries">Countries</a></li>
            <li><a ui-sref="blooming">What's in Bloom</a></li>
            <li><a ui-sref="subtribe">Subtribes</a></li>
        </ul>
    </section>

    

</section>