<link rel="stylesheet" href="styles/viewcollections.css">
<section id="viewcollection">
    <h1>View Collections</h1>
    <section id="orchids">
<!--        <h2>Orchids</h2>-->

        <ul>
            <a ui-sref="blooming"><li style="border-top:none;">What's in Bloom</li></a>
            <a ui-sref="generalCollections"><li>Special Collections</li></a>
            <a ui-sref="alphabetical.search({letter: 'A'})"><li>Alphabetical</li></a>
            <a ui-sref="countries"><li>Countries</li></a>
            <a ui-sref="subtribe"><li>Subtribes</li></a>
        </ul>
    </section>

    

</section>