<link rel="stylesheet" href="styles/place-of-origin.css">
<menu>
    <h1>Place of Origin</h1>
    <ul id="tabs">

        <!--
        <li class="active"><a href="">Northern</a></li>
        <li><a href="">Middle</a></li>
        <li><a href="">Southwestern</a></li>
        <li><a href="">Southeastern</a></li>
        <li><a href="">Eastern</a></li>
-->
    </ul>
</menu>
<section id="grid">

    <aside class="menubox">

        <div class="box">
            <div class="container1">
                <input type="search" id="search" placeholder="Search. . .">
            </div>
        </div>
        <section class="whitebox">
            <ul>
                <li>
                    <a href="">
                        <h4> Orchids </h4></a>
                </li>
                <li><a href="">Special Collections</a></li>
                <li><a href="alphabetical.html">Alphabetical</a></li>
                <li>
                    <a href="place-of-origin.html">
                        <div id="place">Place of Origin</div>
                    </a>
                </li>
                <section class="countries">
                    <ul>
                        <li><a href="">Asia</a></li>
                        <li><a href="">Africa</a></li>
                        <li><a href="europe.html">Europe</a></li>
                        <li><a href="">North America</a></li>
                    </ul>
                </section>
                <li><a href="">What's in Bloom</a></li>
                <li><a href="">Subfamilies</a></li>
                <li><a href="">Images</a></li>
                <hr/>
                <li>
                    <a href="">
                        <h4>Ferns</h4></a>
                </li>
            </ul>
        </section>
    </aside>
    <section id="plants">
        <ul>
            <li>
                <a href="plant.html"><img src="http://placekitten.com/400/400" alt="">
                    <h3>Asia</h3></a>
            </li>
            <li>
                <a href=""><img src="http://placekitten.com/400/400" alt="">
                    <h3>Africa</h3></a>
            </li>
            <li>
                <a href="europe.html"><img src="http://placekitten.com/400/400" alt="">
                    <h3>Europe</h3></a>

            </li>
            <li>
                <a href=""> <img src="http://placekitten.com/400/400" alt="">
                    <h3>North America</h3></a>
            </li>

        </ul>
    </section>
</section>