<link rel="stylesheet" href="styles/plant.css">
<link rel="stylesheet" href="styles/global.css">
<link rel="stylesheet" href="styles/alphabetical.css">

<!--<link rel="stylesheet" href="styles/alpabetical.css">-->



<div id="main-plant-2">

    <div id="main-plant">
        <div class="back-button">
            <a ng-click="goBack()"> Back </a>
        </div>
        <main>
            <article>

                <h1>{{NAMEOFPAGE}}</h1>

                <img src="{{profilePicture}}" ng-show="haveProfilePicture" width="100%" />

                <!--ARTICLE-->
                <section class="sectiontwo">
                    <section id="taxonomic" class="property-box transparent-box">
                        <ul>
                            <li><b>Class:</b>{{plant.class_name}}</li>
                            <li><b>Tribe:</b>{{plant.tribe_name}}</li>
                            <li><b>Subtribe:</b>{{plant.subtribe_name}}</li>
                            <li><b>Genus:</b>{{plant.genus_name}}</li>
                            <li><b>Species:</b>{{plant.species_name}}</li>
                            <li><b>Variety:</b>{{plant.variety_name}}</li>
                        </ul>
                    </section>


                    <section id="hybrid" class="property-box transparent-box">
                        <ul>
                            <li><b>Parent 1:</b>{{plant.parent_one}}</li>
                            <li><b>Parent 2:</b>{{plant.parent_two}}</li>
                            <li><b>GREX:</b>{{plant.grex_status}}</li>
                            <li><b>Status:</b>{{plant.hybrid_status}}</li>
                        </ul>
                    </section>
                </section>
                <hr>

                <section id="description" class="transparent-box">
                    <p><b>Description:</b> {{plant.description}}</p>
                    <br>
                    <p><b>Culture:</b>{{plant.culture}}</p>
                </section>


                <section class="chart">

                    <h3>Blooming Calendar</h3>
                    <div id="blooming-history">
                        Below is the history of this plant, depicting current and past blooming periods. Zoom into the calendar to view specific time periods of blooming. Click and drag to move side to side through the calendar.
                    </div>
                    <!--        START OF BLOOMING GRAPH -->
                    <div id="bloom_timeline_spot" ng-hide="!blooms.length">

                    </div>
                    <!--        END OF BLOOMING GRAPH -->
                </section>

                <section class="chart">
                    <h3>More Photos </h3>
                    <ul ng-repeat="photo in allimagesURL">
                        <li> <img src="{{photo}}" alt="flowers"> </li>
                    </ul>

                </section>
            </article>
        </main>
    </div>
</div>
