<link rel="stylesheet" href="styles/plant.css">
<article>
                <h1>{{NAMEOFPAGE}}</h1>
    <div class="w3-content w3-section" style="max-width:500px">
        <ul > <!--ng-reapet="imagesURL in allimagesURL" -->
            <li><img class="mySlides" src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" style="width:100%"> </li>
            <li><img class="mySlides" src="http://i164.photobucket.com/albums/u8/hemi1hemi/COLOR/COL9-6.jpg" style="width:100%"> </li>
            <li><img class="mySlides" src="http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg" style="width:100%"> </li>


        </ul>

    </div>

    <!--SIDE MENU-->
    <aside class="menubox">

        <div class="box">
            <div class="container1">
                <input type="search" id="search" placeholder="Search. . .">
            </div>
        </div>
        <section class="whitebox">
            <ul>
                <li>
                    <a href="">
                        <h4> Orchids </h4></a>
                </li>
                <li><a ui-sref="generalCollections">Special Collections</a></li>
                <section class="special">
                    <ul>
                        <li><a ui-sref="specificCollection">Speical Collection 1</a></li>
                        <li><a ui-sref="specificCollection">Speical Collection 2</a></li>
                        <li><a ui-sref="specificCollection">Speical Collection 3</a></li>
                        <li><a ui-sref="specificCollection">Speical Collection 4</a></li>
                    </ul>
                </section>
                <li><a ui-sref="alphabetical">Alphabetical</a></li>
                <li>
                    <a ui-sref="countries">
                        <div id="place">Countries</div>
                    </a>
                </li>
                <li><a ui-sref="blooming">What's in Bloom</a></li>
                <li><a ui-sref="subtribe">Subtribes</a></li>
                <section class="special">
                    <ul>
                        <li><a ui-sref="specificSubTribe" id="collection1">Subtribe 1</a></li>
                        <li><a ui-sref="specificSubTribe" id="collection2">Subtribe 2</a></li>
                        <li><a ui-sref="specificSubTribe" id="collection3">Subtribe 3</a></li>
                        <li><a ui-sref="specificSubTribe" id="collection4">Subtribe 4</a></li>
                    </ul>
                </section>
                <hr/>

            </ul>
        </section>
    </aside>

    <!--ARTICLE-->
    <section class="sectiontwo">
        <section id="taxonomic" class="property-box transparent-box">
            <ul>
                <li><b>Class:</b>{{plant.class_name}}</li>
                <li><b>Tribe:</b>{{plant.tribe_name}}</li>
                <li><b>Subtribe:</b>{{plant.subtribe_name}}</li>
                <li><b>Genus:</b>{{plant.genus_name}}</li>
                <li><b>Species:</b>{{plant.species_name}}</li>
                <li><b>Variety:</b>{{plant.variety_name}}</li>
            </ul>
        </section>

        <section id="hybrid" class="property-box transparent-box">
            <ul>
                <li><b>Parent 1:</b>{{plant.parent_one}}</li>
                <li><b>Parent 2:</b>{{plant.parent_two}}</li>
                <li><b>GREX:</b>{{plant.grex_status}}</li>
                <li><b>Status:</b>{{plant.hybrid_status}}</li>
            </ul>
        </section>
    </section>

    <section id="description" class="transparent-box">
        <p><b>Description:</b> {{plant.description}}</p>
        <br>
        <p><b>Culture:</b>{{plant.culture}}</p>
    </section>



    <section id="chart">
        <h3>Flowering Calendar</h3>
        <img src="images/flowering_chart.svg" alt="flowering chart">
    </section>
</article>