<link rel="stylesheet" href="styles/alphabetical.css">
<menu>
    <h1>Alphabetical</h1>
    <ul id="tabs">

        <li class="option">
            <span  ng-show="expanded != 'A'" ng-click="expand($event, 'A', 'G')">A - G</span>
            <span  ng-show="expanded == 'A'"></span>
        </li>
        <li>
            <span class="option">H - N</span>
        </li>
        <li>
            <span class="option">O - U</span></li>
        <li>
            <span class="option">V - Z</span>
        </li>

    </ul>
</menu>
<section id="grid">
    <aside class="menubox">
        <div class="box">
            <div class="container1">
                <input type="search" id="search" placeholder="Search. . .">
            </div>
        </div>
        <section class="whitebox">
            <ul>
                <li>
                    <a href="">
                        <h4> Orchids </h4></a>
                </li>
                <li><a href="special-collections.html">Special Collections</a></li>
                <section class="countries">
                    <ul>
                        <li><a href="#">Acianthinae</a></li>
                        <li><a href="#">Bletiinae</a></li>
                        <li><a href="#">Caladeniinae</a></li>
                        <li><a href="#">Dendrobiinae</a></li>
                        <li><a href="#">Epipogiinae</a></li>

                    </ul>
                </section>
                <li>
                    <a href="alphabetical.html">
                        <div id="alphabetical"> Alphabetical</div>
                    </a>
                </li>
                <li>
                    <a href="place-of-origin.html">
                        <div id="place">Place of Origin</div>
                    </a>
                </li>

                <li><a href="">What's in Bloom</a></li>
                <li><a href="">Subtribes</a></li>

                <section class="countries">
                    <ul>
                        <li><a href="#">Acianthinae</a></li>
                        <li><a href="#">Bletiinae</a></li>
                        <li><a href="#">Caladeniinae</a></li>
                        <li><a href="#">Dendrobiinae</a></li>
                        <li><a href="#">Epipogiinae</a></li>

                    </ul>
                </section>


                <hr/>
                <li>
                    <a href="">
                        <h4>Other Plants</h4></a>
                </li>
                <li><a href="">Alphabetical</a></li>
                <li><a href="">Flowering Plants</a></li>
                <li><a href="">Conifers, Cycads, and Allies</a></li>
                <li><a href="">Fern's and Fern Allies</a></li>
                <li><a href="">Mosses and Liverworts</a></li>
            </ul>
        </section>
    </aside>

    <section id="plants">
        <ul>
            <li>
                <a href="plant.html"><img src="http://placekitten.com/300/300" alt="">
                    <h3>Collection 1</h3></a>
            </li>
            <li>
                <a href=""><img src="http://placekitten.com/300/300" alt="">
                    <h3>Collection 2</h3></a>
            </li>
            <li>
                <a href=""><img src="http://placekitten.com/300/300" alt="">
                    <h3>Collection 3</h3></a>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Collection 4</h3>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Collection 5</h3>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Collection 6</h3>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Lady Slipper</h3>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Lady Slipper</h3>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Denise Blankenberger</h3>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Denise Blankenberger</h3>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Denise Blankenberger</h3>
            </li>
            <li>
                <img src="http://placekitten.com/300/300" alt="">
                <h3>Denise Blankenberger</h3>
            </li>
        </ul>
    </section>
</section>