<link rel="stylesheet" href="styles/viewcollections.css">
<section id="viewcollection">
    <h1>View Collections</h1>
    <section id="orchids">
        <h2>Orchids</h2>

        <ul>
            <li><a ui-sref="special-collections">Special Collections</a></li>
            <li><a ui-sref="alphabetical">Alphabetical</a></li>
            <li><a ui-sref="alphabetical">Place of Origin</a></li>
            <li><a ui-sref="404">What's in Bloom</a></li>
            <li><a ui-sref="404">Subfamilies</a></li>
            <li><a ui-sref="404">Images</a></li>
        </ul>
    </section>

    <section id="ferns">
        <h2>Ferns</h2>

        <ul>
            <li><a href="">Special Collections</a></li>
            <li><a href="">Alphabetical</a></li>
            <li><a href="">Place of Origin</a></li>
            <li><a href="">Subfamilies</a></li>
            <li><a href="">Images</a></li>
        </ul>
    </section>

</section>