<link rel="stylesheet" href="styles/viewcollections.css">
<section id="viewcollection">
    <h1>{{$state.current.data.pageTitle}}</h1>
    <section id="orchids">
        <h2>Orchids</h2>

        <ul>
            <li><a ui-sref="special-collections">Special Collections</a></li>
            <li><a ui-sref="alphabetical.search({letter: 'A'})">Alphabetical</a></li>
            <a ui-sref="countries"><li>Place of Origin</li></a>
            <li><a ui-sref="blooming">What's in Bloom</a></li>
            <li><a ui-sref="subtribe">Subfamilies</a></li>
        </ul>
    </section>

</section>