#change-password #container {
  background-color: #2b2e30; 
    height: 60px; 
    width: 100%; 
    position: relative;
}

#change-password #container p {
    color: white;
    font-family: Aleo, serif;
    font-weight: 300;
    font-size: 20px;
    position: absolute; 
    width: 75%; 
    padding: 20px 0px 0px 30px;
}

#change-password h1 {
    display: block;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;
    font-size: 18px; 
}

#change-password .form-signin {
    background-color: rgba(128, 128, 128, .6);
    max-width: 40%;
    display: block;
    margin: 0 auto;
    padding: 20px 30px 0px 20px; 
}

#change-password .form-signin label {
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: white;
    padding: 20px 5px 5px 20px;
}

#change-password .form-signin input {
    width: 100%;
}

#change-password .password {
    padding: 0 5px 5px 20px;
    margin-bottom: -25px; 
}

#change-password #button {
    display:inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#change-password #button p {
    display: block; 
    margin: 20px auto 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 30px;
    border-radius: 15px;
}

#change-password h6 a {
    text-decoration:  underline;
    text-align: center;
    color: white;
    font-size: 20px;
    display: block;
    margin: 20px;
}