#change-password-admin {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#change-password-admin .flower-popup {
    background-color: white;
    border: none;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#change-password-admin .center h1 {
    letter-spacing: 0;
    padding: 20px 0;
}

#change-password-admin label#name {
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
    text-align: center;
}

#change-password-admin .form-content label {
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.2px;
    color: #2b2e30;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 5px 5px 20px;
    margin-bottom: 30px;
    display: block;
}

#change-password-admin .password {
    display: block;
    margin: 0 auto;
}

#change-password-admin .password input {
    width: 95%;
    border: none;
    background: white;
}

#change-password-admin .password p {
    margin-top: 15px;
}

#change-password-admin #button {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#change-password-admin #button button {
    font-size: 16px;
    margin-top: 5px;
}

#change-password-admin #button p {
    display: block;
    margin: 0 auto;
    background-color: #808080;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 1.1px;
}

#change-password-admin #change-password-popup {
    border: none;
    width: 40%;
    position: absolute;
    top: 300px;
    background-color: white;
    left: 30%;
}

#change-password-admin #close {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 3;
}

#close img {
    height: 30px;
    width: 30px;
}

#change-password-admin .flower-popup {
    background-color: #eaeee7;
    border: none;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}