#delete-user-admin  {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#delete-user-admin .formcontent {
    background: #eaeee7;
}

#delete-user-admin .flowerpopup {
    background-color: white;
    border: none;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#delete-user-admin .center h1 {
    letter-spacing: 0;
    padding: 20px 0;
}

#delete-user-admin label#name {
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;  
    text-align: center; 
}

#delete-user-admin .user-name {
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px; 
    margin: 15px 0 20px 0;
    width: 100%;
    text-align: center;
}

#delete-user-admin .form-content label {
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    color: #2b2e30;
    margin: 50px auto 30px;
    padding: 20px 5px 5px 20px;
    display: block;
}

#delete-user-admin.password {
  display: block;
    margin: 0 auto; 
}

#delete-user-admin .password input {
    width: 95%; 
}

#delete-user-admin .password p {
    margin-top: 15px;
}

#delete-user-admin #button {
    display: inline-block;
    margin: 10px auto 0;
    width: 100%;
    text-align: center;
}

#delete-user-admin #button button { 
    font-size: 16px;
    margin-top: 5px;
    background: #EF645F;
    color: white;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 10px 15px;
}

#delete-user-admin p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

#delete-user-admin #change-password-popup {
    border: none;
    width: 40%;
    position: absolute;
    top: 300px;
    background-color: white;
    left: 30%;
}

#delete-user-admin #close {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 3;
}

#close img {
    height: 30px;
    width: 30px;
}

#delete-user-admin .flower-popup  {
    background-color: white;
    border: none;
    width: 50%;
    height: auto;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
