/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Aleo';
    src: url("../fonts/aleo/aleo-regular.eot");
    src: url("../fonts/aleo/aleo-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-regular.woff") format("woff"), url("../fonts/aleo/aleo-regular.ttf") format("truetype"), url("../fonts/aleo/aleo-regular.svg#aleoregular") format("svg");
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url("../fonts/aleo/aleo-light.eot");
    src: url("../fonts/aleo/aleo-light.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-light.woff") format("woff"), url("../fonts/aleo/aleo-light.ttf") format("truetype"), url("../fonts/aleo/aleo-light.svg#aleolight") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url("../fonts/aleo/aleo-bold.eot");
    src: url("../fonts/aleo/aleo-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-bold.woff") format("woff"), url("../fonts/aleo/aleo-bold.ttf") format("truetype"), url("../fonts/aleo/aleo-bold.svg#aleobold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url("../fonts/aleo/aleo-italic.eot");
    src: url("../fonts/aleo/aleo-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-italic.woff") format("woff"), url("../fonts/aleo/aleo-italic.ttf") format("truetype"), url("../fonts/aleo/aleo-italic.svg#aleoitalic") format("svg");
    font-weight: 400;
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aleo';
    src: url("../fonts/aleo/aleo-lightitalic.eot");
    src: url("../fonts/aleo/aleo-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-lightitalic.woff") format("woff"), url("../fonts/aleo/aleo-lightitalic.ttf") format("truetype"), url("../fonts/aleo/aleo-lightitalic.svg#aleolightitalic") format("svg");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Aleo';
    src: url("../fonts/aleo/aleo-bolditalic.eot");
    src: url("../fonts/aleo/aleo-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-bolditalic.woff") format("woff"), url("../fonts/aleo/aleo-bolditalic.ttf") format("truetype"), url("../fonts/aleo/aleo-bolditalic.svg#aleobolditalic") format("svg");
    font-weight: 700;
    font-style: italic;
}

/*END RESET*/

.upper-heading ul {
 position: absolute; 
    top: 17px; 
   right: 50px; 
    
/*
    top:-46px; 
    right: -20px; 
*/

}

.upper-heading ul li {
    display: inline-block;
    text-decoration: underline;

}

a.logout {
    cursor: pointer;
}

.upper-heading ul li  a {
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin-right: 10px; 
    letter-spacing: 1.1px; 
}

header {
    background-color: #BA0C2F;
    height: 150px;
    width: 100%; 
}

header .main-heading li a {
    list-style-type: none;
    margin-left: 20px;
    float: right;
    background-color: white;
    padding: 15px 10px;
    width: 15%;
    border-radius: 8px;
/*    font-family: Aleo, serif;*/
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color:  #2b2e30;
    float: top;
    margin-top: -10px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    header li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 645px) {
    header li a {
        padding: 15px 10px;
    }
}


@media screen and (max-width: 520px) {
    header li a {
        width: 50%; 
        padding: 5px 10px;
        margin-top: 0px; 
        margin-bottom: 5px; 
    }
}
@media screen and (max-width: 520px) {
    header li {
       margin-top: -30px;  
    }
}

@media screen and (max-width: 450px) {
    header li {
/*       width: 40%;*/
       padding: 5px 0px; 
    }
}



/*
@media screen and (max-width: 700px) {
    header li:nth-child(2) {
       padding: 15px 40px; 
        margin-top: 20px;
    }
}

@media screen and (max-width: 640px) {
    header li a:nth-child(3) {
        padding: 15px 30px;
    }
}
*/




#main-nav ul {
    padding: 60px;
}

#logo {
    width: 97px;
    float: left;
    padding: 30px;
}

body {
    font-family: Raleway, sans-serif;
    color: black;
}

button {
    border: none;
    background: none;
}

button,
input[type="button"] {
    outline: none;
}