/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*END RESET*/

.upper-heading ul {
    position: absolute;
    top: 17px; 
    right: 30px;
}

.upper-heading ul li {
    display: inline-block;
    text-decoration: underline;

}

a.logout {
    cursor: pointer;
}

.upper-heading ul li  a {
    color: #2b2e30;
    font-size: 18px;
    font-weight: 200;
    margin-right: 10px; 
    letter-spacing: 1.1px; 
}

header {
    background-color: #cbd4c2;
    height: 150px;
    width: 100%; 
    position: relative;
}


header .main-heading ul {
    position: absolute; 
    bottom: -30px; 
   right: -20px; 
    
}


header .main-heading ul li {
  display: inline-block;
    font-size: 20px; 
}

header .main-heading li a {
    list-style-type: none;
    margin-left: 28px;
    float: right;
    color: white; 
/*    width: 15%;*/
/*    max-width: 125px;*/
    border-radius: 5px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color:  #2b2e30;
    text-align: center;
}



@media screen and (max-width: 900px) {
    .main-heading ul li a {
        font-size: 20px;
    }
}
/*

@media screen and (max-width: 645px) {
    .main-heading ul li a {
    
    }
}
*/


/* start of responsiveness*/

/*
@media screen and (max-width: 600px) {
    .main-heading ul li a {
        display: block; 
        width: 100%; 
        margin-bottom: 15px; 
    }
}

@media screen and (max-width: 600px) {
    .main-heading ul {  
        float: left;
        margin-top: -35px; 
        
    }
}
*/






@media screen and (max-width: 600px) {
    .main-heading ul li a {
        display: block; 
        width: 100%; 
        margin-bottom: 15px; 
    }
}

@media screen and (max-width: 600px) {
    .main-heading ul {  
        float: left;
/*        margin-top: -35px; */
        
    }
}






/*
@media screen and (max-width: 520px) {
    header li a {
        width: 50%; 
        padding: 5px 10px;
        margin-top: 0px; 
        margin-bottom: 5px; 
    }
}
@media screen and (max-width: 520px) {
    header li {
       margin-top: -30px;  
    }
}

@media screen and (max-width: 450px) {
    header li {
       width: 40%;
       padding: 5px 0px; 
    }
}
*/



/*
@media screen and (max-width: 700px) {
    header li:nth-child(2) {
       padding: 15px 40px; 
        margin-top: 20px;
    }
}

@media screen and (max-width: 640px) {
    header li a:nth-child(3) {
        padding: 15px 30px;
    }
}
*/




#main-nav ul {
    padding: 60px;
}

#logo {
    width: 97px; 
    float: left;
    padding: 30px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #2b2e30;
}

button {
    border: none;
    background: none;
   
}



button,
input[type="button"] {
    outline: none;
}


.button-new button {
  background-color: #01997b; 
    color: white; 
 -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.43);
-moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.43);
box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.43);
    padding: 10px 15px; 
    font-family: 'Raleway', sans-serif; 
       text-align: center;
    border-radius: 5px;
    font-weight: 600; 
}





header .main-heading ul li a {
  font-size: 20px;   
} 