div.login {
    box-sizing: border-box;
    font-family: Aleo, 'Times New Roman', Times, serif;
    width: 40%; 
    display: block;
    background-color: #eaeee7; 
    margin: 50px auto;  
}

.login h1 {
/*    display: block;*/
/*    margin: 0 auto;*/
    color: white; 
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 22px;
    width: 100%; 
    background-color: #01997b;
    margin-bottom: 10px; 

}



.form-signin {
    background-color: #eaeee7;
/*    width: 90%; */
/*    display: block;*/
/*    margin: 0 auto;*/
/*    padding: 20px 30px 0px 20px; */
  
}




.login .login-content lable {
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1.2px; 
    color: #2b2e30;
    margin: 20px 0px; 
    
}

.form-signin input {
    width: 95%;
    margin: 10px 0; 
    background-color: white; 
    border: none; 
/*
      margin: 0 0 15px 0;
    margin-right: 2.5%; 
*/
}
    


/*.password {*/
       /*padding: 0px 5px 5px 20px;*/
    /*margin-bottom: -25px; */
/*}*/

#login-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: #eaeee7;
}

/*
#login-button button {
    display: block; 
    margin: 0 auto; 
    color:white; 

    font-size: 16px;
    margin-top: 10px; 
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif; 
}
*/


#login-button button {
     font-size: 16px;
    margin-bottom: 15px; 
} 



/*h6 a {*/
    /*text-decoration:  underline;*/
    /*text-align: center;*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*margin: 0 auto; */
    /*display: block;*/
    /*margin-bottom: 30px; */
    /*margin: 20px;*/
/*}*/





.login-content {
    width: 95%; 
    display: block;
    margin: 0 auto; 

/*
    padding-left: 2.5%;
    padding-right: 2.5%
*/
    
}


#login-img img {
   width: 60%; 
    position: absolute; 
    bottom: 0px;
    right: 30px;  
}
