div.login {
    padding: 15px;
    box-sizing: border-box;
    font-family: Aleo, 'Times New Roman', Times, serif;
}

.login h1 {
    display: block;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;
    font-size: 22px;

}

.form-signin {
    background-color: #DFE0E0;
    width: 40%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 20px 30px 0px 20px; 
}

.login lable {
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1.2px;
    color: black;
    padding: 15px 5px 10px 0;
}

.form-signin input {
    width: 100%;
    margin: 5px 0 15px 0;
    
}

/*.password {*/
       /*padding: 0px 5px 5px 20px;*/
    /*margin-bottom: -25px; */
/*}*/

#login-button {
    display:inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#login-button button {
    display: block; 
    margin: 0 auto; 
    background-color: #2b2e30;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*h6 a {*/
    /*text-decoration:  underline;*/
    /*text-align: center;*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*margin: 0 auto; */
    /*display: block;*/
    /*margin-bottom: 30px; */
    /*margin: 20px;*/
/*}*/