* {
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

textarea {
    resize: vertical;
    color: #b3b3b3;
    width: 95%;
    height: 50px;
    display: block;
    box-sizing: border-box;
    margin: auto;
}

input, textarea {
    font-family: Raleway;
    font-size: 14px;
    padding: 5px;
    border: 2px solid black;
}

.add {
    position: absolute;
    width: 40px;
    top: 75px;
    right: 0px
}



input {
    margin-top: 10px;
    width: 225px;
}

input:disabled {
    border: none;
    color: black;
    font-family: Raleway;
    font-size: 18px;
}

textarea {
    margin: 10px 0 20px 0;
}

textarea:disabled {
    border: 2px #888888 solid;
    color: black;
    font-family: Raleway;
    font-size: 18px;
}

label {
    font-family: Raleway;
    font-size: 18px;
    margin-left: 20px;
    width: 225px;
}

.labelfirst {
    margin-top: 5px;
}

.labellast {
    margin-bottom: 30px;
}

h1 {
    font-family: Aleo;
    font-size: 24px;
    margin-left: 5px;
}

fieldset {
    border-bottom: 5px solid #888888;
    margin: 20px auto;
    max-width: 800px;
}

#taxonomic, #vitals, #culture, #accession, #description, #hybrid, #inactive, #photos, #graph, #split {
    position: relative;
    overflow: auto;
}

.edit {
    position: absolute;
    width: 40px;
    top: 0px;
    right: 0px;
}

.add {
    position: absolute;
    width: 40px;
    top: 75px;
    right: 0px
}

label {
    display: inline-block;
    width: 125px;
    margin-left: 20px;
}

#commentmargin {
    margin-top: 15px;
}


/*VITALS*/

#vitals {
    overflow: auto;
    position: relative;
}

#thumbnail {
    width: 25%;
    padding: 20px;
    float: left;
}

#vitals div {
    width: 70%;
    float: right;
    margin: 20px 0 0 0;
    position: relative
}

#vitals label {
    width: 250px
}

#vitals input {
    font-family: Raleway;
    font-size: 18px;
    padding: 5px;
    border: none;
    margin: 15px 0;
}

#location img {
    width: 15px;
    padding: 0 5px 0 0;
    transform: translateY(5px);
}

#location select {
    font-size: 18px;
    color: black;
    border: none;
    background-color: white;
    /*    transform: translateY(-25%)*/
}


/*INACTIVE*/

#inactive label {
    width: 75px;
    padding: 10px;
}

input[type="checkbox"] {
    margin: 5px 10px 5px 0px;
    width: auto;
    transform: translateY(-25%)
}

#inactive p {
    display: inline;
}


/*PHOTOS*/

#photos label {
    margin: 10px 0 10px px;
    width: 500px;
    display: inline-block;
    vertical-align: middle;
}

.thumbnail {
    width: 50px;
    height: auto;
    margin: 10px 0px 20px 30px;
    display: inline-block;
    vertical-align: middle;
}

#split_date {
    /*margin-left: 158px;*/
}

#graphsvg {
    width: 90%;
    height: auto;
}

#calender_image {
    height: 30px;
    width: auto;
    top: 5px;
}

.selectedCountry {
    padding-top: 11px;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;
}

.grid2x2>div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}

.grid2x2>div>div {
    display: flex;
    /*justify-content: center;*/
    flex-direction: row;
}
