* {
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

#taxonomic, #vitals, #culture, #accession, #description, #hybrid, #inactive, #photos, #graph, #split, #weekly-checkup {
    position: relative;
    overflow: auto;
}

input, textarea {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    padding: 5px;
    border: 2px solid black;
}

textarea {
    border: 2px solid #808080;
    font-size: 16px;
    resize: vertical;
    color: #b3b3b3;
    width: 95%;
    height: 50px;
    display: block;
    box-sizing: border-box;
    margin: 10px auto 20px ;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.add {
    position: absolute;
    width: 40px;
    top: 75px;
    right: 0;
}

input {
    margin-top: 10px;
    width: 225px;
}

input:disabled {
    border: none;
    color: black;
    font-family: Raleway, sans-serif;
    font-size: 18px;
}

textarea:disabled {
    border: 2px #808080 solid;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: black;
}

#select-country {
    margin-top: 10px;
}

select {
    font-size: 18px;
    color: black;
    border: none;
    background-color: white;
}

#culture select {
    width: 200px;
    margin: 15px 0;
}

select:disabled {
    border: none;
    background: none;
    font-size: 18px;
    color: black;
}


label {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 125px;
    margin-left: 20px;
}

.labelfirst {
    margin-top: 5px;
}

.labellast {
    margin-bottom: 30px;
}

fieldset h1 {
    font-family: Aleo, serif;
    font-size: 24px;
    margin-left: 5px;
    text-align: left;
    padding: 0 5px 20px;
}

fieldset {
    border-bottom: 5px solid #808080;
    margin: 20px auto;
    max-width: 800px;
}

.edit {
    position: absolute;
    width: 40px;
    top: 0;
    right: 0;
}


#accession button.more-calendar {
    position: relative;
    opacity: 1;
    width: 200px;
    display: inline;
    margin-top: 0;
    text-align: left;
}

.more-calendar input {
    width: auto;
    margin: 0;
    font-size: 18px;
    padding: 0;
}

#received-date {
    width: 130px;
}


/*VITALS*/

#thumbnail {
    width: 25%;
    padding: 20px;
    float: left;
}

#vitals div {
    width: 70%;
    float: right;
    margin: 20px 0 0 0;
    position: relative
}

#vitals label {
    width: 250px
}

#vitals input {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    padding: 5px;
    border: 2px solid black;
    margin: 15px 0;
}

#vitals input:disabled {
    border: none;
}

#location img {
    width: 15px;
    padding: 0 5px 0 0;
    transform: translateY(5px);
}





/*INACTIVE*/

#inactive label {
    width: 75px;
    padding: 10px 10px 10px 0;
}

input[type="checkbox"] {
    margin: 5px 10px 5px 0;
    width: auto;
    transform: translateY(-25%)
}

#inactive input:disabled {
    border: none;
}

/*#inactive input:disabled {*/
    /*border: 2px solid black; */
/*}*/

/*PHOTOS*/
#photos label {
    margin: 10px 0 10px;
    width: 500px;
    display: block;
    vertical-align: middle;
}

.thumbnail {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    max-width: 120px;
    margin: 20px 20px 20px 20px;
    float: left;

}

.photos-buttons input, .photos-add-div input {
    width: 100px;
    border: none;
    background: #808080;
    color: white;
    border-radius: 8px;
    padding: 15px 10px;
    font-size: 14px;
    margin: 0 10px 0 0;
    display: inline-block;
}

.photos-buttons {
    margin: 30px 10px 20px 0;
}

#photos-delete1, #photos-delete2 {
    margin: 0 0 0 60px;
}

#photos {
    margin: 20px auto 0;
    padding: 0 0 20px 0;
}

.photos-add-div input {
    margin: 58px 0 0 0;
}

.photos-group {
    overflow: auto;
}

.photos-selected {
    background-color: #F3C467
}


/*SPLIT*/

.split-add {
    margin: 0 0 20px 40px;
    width: 100px;
    border: none;
    background: #808080;
    color: white;
    border-radius: 8px;
    padding: 15px 10px;
    font-size: 14px;
    display: inline-block;
    width: 100px;
}




#split_date {
    /*margin-left: 158px;*/
}

#graphsvg {
    width: 90%;
    height: auto;
}

#graph .startnewbloom, #graph output {
    display: block;
}

#calender_image {
    height: 30px;
    width: auto;
    top: 5px;
}

.selectedCountry {
    padding-top: 11px;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;
}

.grid2x2>div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}

.grid2x2>div>div {
    display: flex;
    /*justify-content: center;*/
    flex-direction: row;
}

#culture .grid2x2 {
    display: block;
}

#culture .grid2x2>div {
    display: inline-block;
}

#culture .grid2x2>div>div {
    padding: 0 10px;
    width: 100px;
    font-size: 18px;
}


/*SAVE*/
#moreinfo-save input {
    width: 100px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    padding: 15px 10px;
    font-size: 18px;
    margin: 0 20px 0 0;
    display: inline-block;
    float: right;
}

#moreinfo-save {
    border: none;
}


/*WEEKLY CHECKUP*/
#weekly-checkup #current-health {
    margin: 0;
}

#weekly-checkup-health {
    width: 225px;
}

#sprayed-for-pests {
    width: 160px;
}






/*ADD PHOTO POPUP*/





/*BLOOMING*/

.blooming-date1, .blooming-date2 {
    background: none;
    height: auto;
    width: 100px;
    margin: 0;

}

.recent-blooming-date {
    width: 30%;
    margin: 0 0 15px 20px;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
}

.recent-blooming-comment {
    width: 65%;
    font-size: 18px;
    display: inline-block;
    margin: 0 0 15px 0;
}

#graph-will-be-here {
    border: 1px solid darkslategray;
    width: 95%;
    height: 100px;
    margin: 10px auto;
    padding: 10px;
}

#blooming-view-more {
    background-color: #808080;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 15px 15px 60px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 125px;

}


