* {
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

input[type="button"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

select.round {
    background: #eaeee7 url("../images/down-arrow.png") right no-repeat fixed;
    background-size: 10px 10px;
}


button {
    cursor: pointer;
}

textarea, input, button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#taxonomic,
#vitals,
#culture,
#accession,
#description,
#hybrid,
#inactive,
#photos,
#graph,
#split,
#weekly-checkup,
#special-collection {
    position: relative;
    overflow: auto;
}

#vitals {
    margin: 0 auto;
    margin-top: 20px;
}

input, textarea {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    padding: 6px;
    border: 2px solid #A8B89A;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eaeee7;
}

textarea {
    border: 2px solid #eaeee7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eaeee7;
    font-size: 16px;
    resize: vertical;
    color: black;
    width: 95%;
    height: 50px;
    display: block;
    box-sizing: border-box;
    margin: 10px auto 20px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.add {
    position: absolute;
    width: 40px;
    top: 75px;
    right: 0;
}

input {
    margin-top: 10px;
    width: 220px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

input:disabled {
    border: 2px solid #eaeee7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    background: none;
    -webkit-text-fill-color: black;
    opacity: 1;
}

textarea:disabled {
    border: 2px #eaeee7 solid;
    border-radius: 5px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: black;
    background: none;
    -webkit-text-fill-color: black;
    opacity:1;
}

#add-country, #select-country {
    margin-top: 10px;
}

select {
    font-size: 18px;
    color: black;
    margin-left: 4px;
    border: 1px solid #A8B89A;
    background: #eaeee7;
    padding: 2px;
}

#culture select, #special-collection select {
    width: 225px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#add-country-select {
    margin-right: 4px;
}

#delete-country-select {
    margin-left: 2px;
}

.country-list {
    margin: 20px 0 20px 0;
}

.selected-countries {
    margin: 7.5px 0 0 50px;
}

#special-collection select {
    margin-left: 4px;
}

select:disabled {
    border: 2px solid #eaeee7;
    background: none;
    font-size: 18px;
    color: black;
    -webkit-text-fill-color: black;
    opacity: 1;
}

fieldset label {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 115px;
    margin-left: 20px;
    font-weight: 600;
}

.labelfirst {
    margin-top: 5px;
}

.labellast {
    margin-bottom: 20px;
}

fieldset h1 {
    font-family: Aleo, serif;
    font-size: 24px;
    text-align: left;
    padding: 20px 20px;
    background: #eaeee7;
}

fieldset {
    border-bottom: 5px solid #01997b;
    margin: 0 auto;
    max-width: 800px;
}

.edit {
    position: absolute;
    width: 89px;
    top: 12px;
    right: 1.5%;
    text-align: right;
}

.edit img {
    width: 28px;
    display: inline-block;
    vertical-align: middle;
}

.edit p {
    font-family: Raleway;
    font-size: 16px;
    color: black;
    display: inline-block;
    vertical-align: bottom;
}

#accession button.more-calendar {
    position: relative;
    opacity: 1;
    /*width: 200px;*/
    display: inline;
    margin-top: 0;
    text-align: left;
}

.more-calendar input {
    margin: 0;
    font-size: 18px;
    padding: 4px;
}

#received-date {
    width: 130px;
}

#description label, #weekly-checkup label {
    width: 95%;
    margin-top: 15px;
}


/*VITALS*/

#thumbnail {
    width: 25%;
    padding: 0 20px 20px;
    float: left;
}

#vitals div {
    width: 63%;
    float: right;
    margin: 0 50px 0 0;
    position: relative;
}

#vitals label {
    width: 225px;
    margin: 0;
}

label#location {
    width: 134px;
}

#vitals input {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    padding: 6px;
    border: 2px solid #A8B89A;
    margin: 15px 10px 15px 0;
    width: 200px;
    background: #eaeee7;
}

#vitals input:disabled {
    border: 2px solid #eaeee7;
    background: none;
    -webkit-text-fill-color: black;
    color: black;
    opacity: 1;
}

#location img {
    width: 15px;
    padding: 0 5px 0 0;
    transform: translateY(5px);
}

label#verified-label {
    width: 115px;
    padding-left: 5px;
}

input#verified {
    padding: 2px;
}


/*INACTIVE*/

#inactive label {
    width: 75px;
    padding: 10px 10px 10px 0;
}

#inactive input {
    margin: 15px 0 0 0;
    /*height: 27px;*/
}



/*PHOTOS*/

#photos h1, #weekly-checkup h1, #graph h1 {
    margin-bottom: 20px;
}

#photos label {
    margin: 10px 0 10px;
    width: auto;
    display: block;
}

.thumbnail {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    max-width: 120px;
    margin: 0 20px 20px 20px;
}

.photos-buttons input, .photos-add-div input {
    width: 79px;
    font-size: 14px;
    margin: 0 10px 0 0;
    display: inline-block;
    background-color: #01997b;
    color: white;
    -webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    padding: 10px 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}

.add-photo-popup input[type="button"] {
    width: auto;
    border: none;
    background: #808080;
    color: white;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 14px;
    margin: 0 10px 0 0;
    display: inline-block;
}

input[type="button"].selectedPhoto {
    background: #00604D;
    color: white;
}

#match-photos-button {
    width: auto;
    background-color: #01997b;
    color: white;
}

.photos-buttons {
    margin: 30px 10px 20px 0;
    display: inline-block;
    vertical-align: center;
    width: 65%;
}

#photos-delete1, #photos-delete2 {
    margin: 0 0 0 60px;
    background: #EF645F;
}

#photos {
    /*margin: 20px auto 0;*/
    padding: 0 0 20px 0;
}

.photos-add-div input {
    margin: 0 0 0 20px;
}

.photos-group {
    overflow: auto;
}


/*SPLIT*/

.split-holder {
    width: 95%;
    margin: 20px auto;
    margin-bottom: 20px;
}

.split-add {
    margin: 0 0 20px 40px;
    border: none;
    background: #808080;
    color: white;
    border-radius: 8px;
    padding: 15px 10px;
    font-size: 14px;
    display: inline-block;
    width: 100px;
}

#graphsvg {
    width: 90%;
    height: auto;
}

#graph .startnewbloom, #graph output {
    display: block;
}

#calender_image {
    height: 30px;
    width: auto;
    top: 5px;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;
}

.grid2x2>div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}

.grid2x2>div>div {
    display: flex;
    /*justify-content: center;*/
    flex-direction: row;
}

#culture .grid2x2 {
    display: block;
}

#culture .grid2x2>div {
    display: inline-block;
}

#culture .grid2x2>div>div {
    padding: 0 10px;
    width: 100px;
    font-size: 18px;
}


/*SAVE*/

#back-to-top button {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

#moreinfo-save {
    border: none;
}

.end-section {
    margin: 20px auto;
    max-width: 800px;
    display: block;
}

#moreinfo-save-button input {
    font-size: 14px;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: auto;
}


/*WEEKLY CHECKUP*/

#weekly-checkup #current-health {
    margin: 0;
}

#weekly-checkup-health {
    width: 225px;
}

#sprayed-for-pests {
    width: 160px;
}

#weekly-checkup .top-margin {
    margin-bottom: 50px;
}


/*BLOOMING*/

.blooming-date1, .blooming-date2 {
    background: none;
    height: auto;
    width: 100px;
    margin: 0;
}

.recent-blooming-date {
    width: 30%;
    margin: 0 0 15px 20px;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
}

.recent-blooming-comment {
    width: 65%;
    font-size: 18px;
    display: inline-block;
    margin: 0 0 15px 20px;
}

.blooming-view-more {
    background-color: #01997b;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 15px 25px 60px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 125px;
}

.blooming-view-year {
    background-color: #01997b;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 15px 25px 60px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 60px;
}

.vis-item.incomplete_bloom {
    background-color: red;
    border-color: red;
}

.vis-item.full_bloom {
    background-color: #01997b;
    border-color: #01997b;
}

#graph {
    overflow: hidden;
}


/* More info health, blooming, sprayed, potting table data */

span.more-info-base {
    background: none;
    font-family: Raleway, sans-serif;
    margin: 0 0 15px 0;
    font-size: 18px;
}

span.three-items-view {
    display: inline-block;
    width: 30%;
}

.text-align-top {
    vertical-align: top;
}

.health-entry, .sprayed-entry, .repotting-entry, .bloooming-entry {
    margin: 0 0 15px 20px;
}

span.span-date {
    width: 28%;
}

span.span-comment {
    width: 70%;
}


/* START OF BLOOMING GRAPH */

#graph-will-be-here {
    border: 1px solid darkslategray;
    width: 95%;
    height: 100px;
    margin: 10px auto;
    padding: 10px;
}

#graph-will-be-here {}


/* END OF BLOOMING GRAPH */

label span {
    margin-left: -20px;
}

.clean-span {
    background: none;
}

.collection-button {
    width: auto;
    /*border: none;*/
    /*color: white;*/
    font-size: 14px;
    margin: 0 0 20px 10px;
    display: inline-block;
    /*display: inline-block;*/
    /*background-color: #01997b;*/
    /*-webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.43);*/
    /*-moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.43);*/
    /*box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.43);*/
    /*padding: 10px 15px;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*text-align: center;*/
    /*border-radius: 5px;*/
    /*font-weight: 600;*/
}

.collection-button-div {
    display: inline-block;
}

iframe {
    height: 44px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}


.span-comment {
    line-height:1.3;
}