.move-popup {
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background: none;
}


.move-popup-section form {
     background-color: white;
}

#move-plants-button {
    font-size: 14px;
    margin: 5px 0;
    display: inline-block;
}

.button-new-move {
    display: inline-block;
}

#move-popup .header #close img {
    padding: 50px; 
    top: 20px; 
}

#move-plant-list {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.move-popup p {
    padding: 0 0 0 20px;
}

#move-plant-list li {
    font-size: 20px;
    font-family: Aleo, serif;
    padding: 10px 0 0 40px;
}

.move-popup-housename li {
    padding: 0 5px 10px 0;
    display: inline-block;
}

/*.move-popup-housename li:hover {*/
    /*color: #BA0C2F;*/
/*}*/

/*.move-popup-housename li:active {*/
    /*color: #ba0c2f;*/
/*}*/

#table-and-button {
    text-align: right;
    width: 30%;
    float: right;
    padding: 20px;
}  

.move-popup .header {
 width: 100%; 
} 


#table-and-button h1 {
    display: inline;
    margin: 0; 
    padding: 20px 0;
}

#houses-popup {
    margin-top: 20px;
    /*float: left;*/
}

#houses-popup li {
    display: inline-block;
}

.button-new-house {
    font-size: 14px;
}

.movepopup-selectedhouse {
    background: #01997b;
}

#movepopup-middle {
    width: 100%; 
    border-top: 2px solid black;
    margin: 20px 0 0 0;
}

.house-svg {
    width: 100%;
    display:block;
}

.house-svg-div {
    width: 100%;
}

button.selected-house-movetable {
    background: #00604D;
}