.move-popup {
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
}

#move-plants-button {
    background-color: #ba0c2f;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;
}

#move-popup .header #close img {
    padding: 50px; 
    top: 20px; 
}

.move-popup-housename {
    background: none;
    /*margin-top: 20px;*/
}


#move-plant-list {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.move-popup p {
    padding: 0 0 0 20px;
}

#move-plant-list li {
    font-size: 20px;
    font-family: Aleo, serif;
    padding: 10px 0 0 40px;
}

.move-popup-housename li {
    font-size: 20px;
    font-weight: 100;
    font-family: Aleo, serif;
    text-align: left;
    padding: 20px 10px 10px 20px;
    display: inline-block;
}

.move-popup-housename li:hover {
    color: #BA0C2F;
}

.move-popup-housename li:active {
    color: #ba0c2f;
}

#table-and-button {
    text-align: right;
    width: 30%;
    float: right;
    padding: 20px;
}  

.move-popup .header {
  background-color: #dfe0e0;
 width: 100%; 
} 


#table-and-button h1 {
    display: inline;
    margin: 0; 
    padding: 20px 0;
   
  
}

.move-popup .header  h1 {
 text-align: center;
    font-family: aleo, serif;
    font-size: 26px;
    background-color: #dfe0e0;
    padding: 20px 0px; 
    width: 100%;
    height: 30px;
}



#houses-popup {
    margin-top: 20px;
    /*float: left;*/
}

#houses-popup li {
    display: inline-block; 
    background-color: #808080;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 5px;
    border-radius: 5px;
}

.movepopup-selectedhouse {
    background: #ba0c2f;
}

#movepopup-middle {
    width: 100%; 
    border-top: 2px solid black;
    margin: 20px 0 0 0;
}