#database-heading {
    margin: 40px 0 20px;
}

#database-heading h1 {
    font-family: Aleo, serif;
    font-size: 30px;
    font-weight: 400;
    color: #2b2e30;
    margin: 20px;
    display: inline-block;
    width: 30%;
    max-width: 250px;
}

.searchbox-and-icon {
    width: 35%;
    display: inline-block;
    /*position: absolute;*/
    /*top: 170px;*/
    /*right: 0px;*/
}

#search {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border: 3px solid #A8B89A;
    height: 33px;
    width: 200px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin: 0 5px 0 20px;
}

#mag-glass {
    width: 20px;
    border: none;
    background-color: white;
    margin:0;
    padding: 0 0 10px 0;
    background-image: url(../images/Searchbutton.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;

}


/*

@media screen and (max-width: 790px) {
  .searchbox-and-icon {
    float:left;
 }
}
*/


/*------*/


/*
@media screen and (max-width: 790px) {
  .searchbox {
    width: 90%;

 }
}
*/


/*

@media screen and (max-width: 790px) {
  #allplantsh1 {
    width: 20%;
 }
}



@media screen and (max-width: 600px) {
   .searchbox {
    width:75%;
 }
}

@media screen and (max-width: 480px) {
   .searchbox-and-icon {
   float: left;
 }
}

@media screen and (max-width: 580px) {
   #allplantsh1 h1 {
   font-size: 20px;

 }
}
*/


/*---------*/


/* start of table styling */

#orchid-database .table {
    background-color: #eaeee7;
    width: 100%;
    border-collapse: collapse;
    width: 100%;
}

#orchid-database thead {
    background-color: #01997b;
    color: white;
    font-family: Aleo;
    font-size: 20px;
    font-weight: 100;
}

#orchid-database table, #orchid-database td, #orchid-database th {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    text-align: left;
    /*    not sure if text in the table should be centered or not */
    vertical-align: middle;
    padding: 10px;
    height: auto;
}

#orchid-database .table-right th {
    padding: 20px 10px 20px 10px;
    white-space:nowrap;
}


/* end of table styling */


/* start of filter styling */

.filter-section {
    float: left;
    width: 100%;
    background-color: #01997b;
    height: 60px;
    /*    margin-left: 20px;*/
}

.filter-section hr {
    float: left;
    width: 100%;
    color: white;
    background-color: white;
    position: relative;
    top: -10px;
    z-index: 2;
    height: 4px;
    outline: none;
    border: none;
}

.filter-section h2 {
    /*    border-bottom: 5px solid white;*/
    color: white;
    font-family: 'Aleo';
    font-size: 20px;
    font-weight: 100;
    padding: 20px 0px 20px 130px;
    margin-left: -80px;
    display: inline-block;
    width: 100%;
}

.filter-options li {
    float: left;
    background-color: #eaeee7;
    width: 100%;
    border-collapse: collapse;
    padding: 5px 0px 0px 0px;
    border-bottom: 4px solid white;
}

label.filter-option {
    padding-left: 5px;
}


/*
.filter-options li:first-child {
    padding-top: 10px;
}
*/

.filter-options {
    margin-top: -18px;
    /*    margin-left: 20px;*/
    /*    width: 35%;*/
}

.filter-options ul li label {
    display: inline-block;
    width: 80%;
    margin-left: 0px;
}

.filter-left {
    float: left;
    width: 30%;
    max-width: 250px;
    margin-left: 20px;
    /*margin-top: 90px;*/
    display: inline-block;
    margin-bottom: 30px;
}

.table-right {
    margin-left: 35px;
    min-width: 50%;
    max-width: 68%;
    display: inline-block;
}

.inner-table-right {
    overflow-x: scroll;
}


/* end of filter styling */


/* checkbox styling */

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

table label {
    width: 100%;
}

span {
    background: url(../images/empty_checkbox.svg)center center no-repeat / cover;
    width: 100%;
    display: inline-block;
    /*  vertical-align:middle;*/
    /*  margin-left:1px;*/
    position: relative;
}

input:checked+span {
    background: url(../images/checked_checkbox.svg) center center no-repeat / cover;
    background-image: url(../images/checked_checkbox.svg);
}

#orchid-database .divider {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}


/* page styling */

#orchid-database .page .divider {
    clear: both;
    margin-bottom: 20px;
    width: 100%;
}

.page {
    margin-top: 30px;
    float: left;
    width: 100%;
    display: inline-block;
    border-top: 5px solid #01997b;
}

.page #previous button {
    border: none;
    background: #01997B;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border: none;
    background: #01997B;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    width: 58px;
}

.pagination-sm>li:first-child >a:active, .pagination-sm>li:first-child>span:active {
    font-size: 14px;
}

.page ul {
    display: inline-block;
    float: left;
    margin-top: 13px;
    text-align: center;
    width: 100%;
    margin-left: none;
}

.page ul li {
    display: inline;
    margin: 0 auto;
    margin-right: 10px;
}

.page ul li:first-child {
    margin-left: 10px;
}

.page ul li:last-child {
    margin-right: 0;
}

.page ul li a {
    font-size: 21px;
    padding-left: 5.6%;
    font-weight: 600;
    color: #2b2e30;
}

.page ul li a:active {
    color: #01997b;
    font-size: 25px;
    font-weight: 800;
}

.page #next button {
    border: none;
    background: #01997b;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    display: inline-block;
    float: right;
    /*    margin-right: 20px;*/
    margin-bottom: 20px;
    /*    margin-top: -112px;*/
    font-family: 'Raleway', sans-serif;
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border: none;
    background: #01997B;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    display: inline-block;
    float: right;
    width: 58px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.28);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 0 !important;
    color: #01997B !important;
    font-weight: bold !important;
    /*padding-left: 18%;*/
    cursor: default !important;
    background-color: white !important;
    border-color: white !important;
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
  font-size: 14px !important;
}

/*.pagination{*/


/*padding-left: 18%;*/


/*}*/

.pagination>li>a, .pagination>li>span {
    position: relative;
    /*float: left;*/
    padding: 6px 1px;
    margin-left: -1px;
    font-size: 0px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: white;
    border: white !important;
}

.pagination>li>a, .pagination>li:nth-child(0)>span {
    padding-left: 18%;
}
