.no-photos-match p {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    margin: 30px;
}

.matching-photos {
    display: block;
    overflow: hidden;
}

.matching-photos img {
    margin: 0 20px 20px 0;
    width: 20%;
    height: auto;
    max-height: 75px;
}

.matching-photos label {
    width: 55%;
    margin: 10px 0 0 0;
    /*float: left;*/
    display: inline-block;

}

.matching-photos .button-new {
    float: right;
    display: inline-block;
    margin: 10px 0 10px 0;
}

/*.matching-photos input[type="button"] {*/
    /*float: right;*/
    /*display: inline-block;*/
    /*margin: 10px 0 10px 0;*/
/*}*/

.add-photo-popup>input[type="button"] {
    float: right;
    margin: 0 15px 15px 0;
    width: 60px;
}

.add-photo-popup input[type="button"] {
    width: auto;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    margin: 0 10px 0 0;
    display: inline-block;
}

.selectedMatchPhotos {
    background: #EF645F;
}

#match-save {
    float: right;
    margin: 15px;
}