#container p {
    width: 100%; 
    background-color: black; 
    color: white; 
    height: 40px; 
    font-family: Aleo, serif;
    font-weight: 300;
    font-size: 20px;
    padding: 20px 0px 0px 30px; 
}

.icon {
    width: 40px; 
    display: inline-block; 
    float: right; 
    padding: 20px 30px; 
    
}

h1 {
  display: block; 
  margin-left: 30px; 
    padding: none; 
    width: 10%; 
    text-align: left; 
    float: left; 
    

}


#divider {
    width: 95%;
    height: 5px;
    background-color: grey;
    display: block; 
    margin: 0 auto; 
    clear: both;
}