#container {
  background-color: #01997b; 
    height: 60px; 
    width: 100%; 
    position: relative; 
}

#container p {
    color: white;
    font-family: 'Aleo', serif;
    font-weight: 300;
    font-size: 20px;
    position: absolute; 
    width: 75%; 
    font-weight: 400; 
    padding: 20px 0px 0px 30px;
}

#register-p {
    margin: 30px 50px 0px 30px;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 30px;
    position: relative;
}

#register-title h1 {
    display: block;
    margin: 0 auto;
    padding: 20px 0 10px 10px;
    width: 95%;
    text-align: left;
    font-family: 'aleo', "Times New Roman", serif;
    font-size: 24px;
    background-color: #eaeee7;
}

#register-title {
    position: relative;
}

#form-users .section,
.add-user {
    display: block;
    /*margin: 10px 30px 30px 30px;*/
    margin: 0 auto;
    width: 95%;
    border-top: 5px solid #01997b;
    padding: 20px 0 20px 10px;
}

#form-users form {
    width: 100%;
    margin: 0;
}

#auth input {
    width: 10%;
}

#auth {
    margin-bottom: 20px;
}

.section {
    width: 97%;
}

#form-users .section label {
    width: 40%;
    padding-right: 15px;
    display: block;
    font-size: 18px;
    margin-top: 15px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

#form-users .section input {
    margin-top: 5px;
}

#auth input {
    display: inline-block;
}

#auth input:disabled {
    opacity: 0;
}

#email input {
    display: block;
}

#lastname input {
    display: block;
}

#firstname input {
    display: block;
}

#password input {
    display: block;
}

#form-users .section button,
div.add-user button {
    font-size: 14px;
    margin: 0 0 10px 0;
    color: white;
}

#form-users .users input:last-child {
    margin-bottom: 30px;
}

.add-user img {
    width: 35px;
    padding: 0px 30px 30px 30px;
}

#icon p {
    font-family: Raleway;
    font-size: 16px;
    color: #2b2e30;
    display: inline-block;
    vertical-align: bottom;
}

#form-users .section .icon #icon{
    display: inline-block;
    padding: 0;
    width: 68px;
    text-align: right;
}

#icon img {
    width: 28px;
    display: inline-block;
    vertical-align: middle;
}

div.icon {
    position: absolute;
    top: 12px;
    right: 26px;
}