a {
    text-decoration: none;
}

main nav ul li {
    float: left;
    width: 33.333333333%;
    font-family: Aleo, serif;
    font-size: 20px;
    font-weight: 100;
    background-color: #2b2e30;
    text-align: center;
    padding: 32px 0 22px 0;
    margin-bottom: 5px;
}

main nav ul li a {
    text-decoration: none;
    color: white;
}

main nav ul {
    overflow: hidden;
}

#active {
    color: black;
    font-weight: 400;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


/*page nav*/

.page-nav {
    background: none;
    text-align: center;
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: auto;
}

#back-button {
/*    display: inline;*/
    position: absolute;
    top: 0;
    left: 5px;
    margin: 0;
    width: 60px;
    background-color: #808080;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

#title {
    font-family: Aleo, serif;
    font-size: 35px;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 0;
}


/*TABLE*/

#center-table {
    margin: auto;
    align-items: center;
}

main table {
    margin: 0 auto;
    background-color: #DFE0E0;
    border-collapse: collapse;
    width: 95%;
}

thead {
    background-color: #2b2e30;
    color: white;
    font-family: Aleo, serif;
    font-size: 20px;
    font-weight: 100;
}

table,
td,
th {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    height: auto;
}

th {
    font-size: 18px;
}


/*td:nth-child(1) {*/


/*!*width: 20%;*!*/


/*}*/


/*td:nth-child(2) {*/


/*!*width: 40%*!*/


/*}*/


/*td:nth-child(3) {*/


/*!*width: 20%;*!*/


/*}*/


/*td:nth-child(4) {*/


/*max-width: 60px;*/


/*}*/


/*td:nth-child(5) {*/


/*max-width: 60px;*/


/*}*/

td {
    vertical-align: top;
}

.flagged {
    background-color: #4D4D4D;
}


/*POP UP*/

#close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.flower-popup #close img {
    padding: 0;
    margin: 0;
}

.flower-popup {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.formcontent {
    padding: 15px;
}

.flower-popup form {
    width: 75%;
    background-color: white;
    border: 4px solid black;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    padding-bottom: 10px;
    box-sizing: border-box;
}

.center h1 {
    text-align: center;
    font-family: aleo, serif;
    font-size: 26px;
    letter-spacing: 3px;
    background-color: #dfe0e0;
    padding: 20px 0px;
    width: 100%;
    height: 30px;
}

.top-margin {
    margin-top: 10px;
}

.flower-popup label {
    font-family: aleo, serif;
    font-size: 18px;
    margin: 0 0 5px 5px;
}

.start-stop-blooming {
    display: block;
    margin-left: 30px;
}

.start-stop-blooming label {
    width: 100px;
}

.editPlant {
    font-family: aleo, serif;
    font-size: 18px;
    margin: 0 0 5px 5px;
    cursor: pointer;
}

.flower-popup textarea {
    border: 2px solid #808080;
    font-family: aleo, serif;
    color: black;
    font-size: 12px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    height: 50px;
    margin: 5px 0 0 0;
}

.today,
.startnewbloom {
    background-color: #808080;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 15px;
    border-radius: 5px;
    display: inline-block;
}

#more-info {
    background-color: #BA0c2F;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    float: left;
}

.save {
    background-color: #BA0c2F;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

#edit-button {
    background-color: #808080;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

#save {
    float: right;
}

.popup-save {
    background-color: #BA0c2F;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin: 5px;
}

#edit-button,
#move-certain-plants {
    margin: 0 10px 0 5px;
}

.table-footer {
    margin: 10px auto 0 auto;
    width: 95%;
}

#current-health button {
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
    /*    width: 67px;*/
}

.flower-popup img {
    height: 30px;
    width: auto;
}

.calendar {
    transform: translateY(25%);
    overflow: hidden;
    position: relative;
}

.calendar input {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
}

.calendar img {
    margin: 0;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

#more-info {
    /*margin-left: -15px;*/
}

#more-info a {
    color: white;
}

.glowHealthPoor {
    /*   box-shadow:0 0 20px #BA0C2F;*/
    background-color: #BA0C2F;
}

.glowHealthFair {
    /*  box-shadow:0 0 20px #F3C467;*/
    background-color: #F3C467;
}

.glowHealthGood {
    /*  box-shadow:0 0 20px #61d166;*/
    background-color: #61d166;
}

.noglowHealth {
    background-color: #808080;
}

.alertRow {
    background-color: #F3C467;
}

.customNgDisabled {
    background-color: #dfe0e0;
    color: #808080;
}

#main-table tr td {
    padding: 0;
}

#main-table table span {
    width: 100%;
}

#main-table td label {
    margin-left: 0;
}

#current-health label,
#sprayed-for-pests,
#repot label {
    margin-top: 15px;
    display: inline-block;
}


/* checkbox styling */

.popup-flagged label {
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

table input,
.popup-flagged input {
    opacity: 0;
    width: auto;
    margin: 8px 20px;
    transform: translateY(-7px);
}

.table-checkbox {
    background: url(../images/empty_checkbox.svg)center center no-repeat / cover;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
}

#flagged-span {
    margin-left: 8px;
}