a {
    text-decoration: none;
}

main nav ul li {
    float: left;
    width: 33.333333333%;
    font-family: Aleo, serif;
    font-size: 20px;
    font-weight: 100;
    background-color: black;
    text-align: center;
    padding: 32px 0 22px 0;
}

main nav ul li a {
    text-decoration: none;
    color: white;
}

main nav ul {
    overflow: hidden;
}

#active {
    color: black;
    font-weight: 400;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


/*page nav*/

.page-nav {
    background: none;
    text-align: center;
    position: relative;
    height: auto;
}

#A img,
#B img {
    height: 50px;
    display: block;
}

#A {
    left: 2.5%;
}

#B {
    right: 2.5%;
}

#A,
#B {
    font-family: Aleo, serif;
    font-weight: 400;
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#A a,
#B a {
    text-decoration: none;
    color: black;
    display: inline
}

#A img,
#B img {
    padding-top: 5px;
}

main header h1 {
    font-family: Aleo, serif;
    font-size: 35px;
    text-align: center;
    height: 130px;
    line-height: 130px;
}


/*TABLE*/

#center-table {
    margin: auto;
    align-items: center;
}

main table {
    margin: 0 auto;
    background-color: #DFE0E0;
    border-collapse: collapse;
    width: 95%;
}

thead {
    background-color: black;
    color: white;
    font-family: Aleo, serif;
    font-size: 20px;
    font-weight: 100;
}

table,
td,
th {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    height: auto;
}

td {
    padding: none;
}

td:nth-child(1) {
    width: 20%;
}

td:nth-child(2) {
    width: 40%
}

td:nth-child(3) {
    width: 20%;
}

td:nth-child(4) {
    width: 20%;
}

td {
    vertical-align: top;
}

.flagged {
    background-color: #4D4D4D;
}

#repot {}

#moveplants a {
    background-color: #2B2E30;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    padding: 15px 20px;
    float: left;
    margin: 2.5% 2.5% 0 0;
    margin border-radius: 8px;
}

#moveplants {
    overflow: hidden;
    float: left;
}


/*POP UP*/

#close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.flower-popup {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.formcontent {
    padding: 15px;
}

.flower-popup form {
    width: 75%;
    background-color: white;
    border: 4px solid black;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    padding-bottom: 10px;
    box-sizing: border-box;
}

.center h1 {
    text-align: center;
    font-family: aleo, serif;
    font-size: 26px;
    letter-spacing: 3px;
    background-color: #dfe0e0;
    /*    padding:20px 0px; */
    width: 100%;
    height: 30px;
}

.top-margin {
    margin-top: 10px;
}

.flower-popup label {
    font-family: aleo, serif;
    font-size: 18px;
    margin: 0 0 5px 5px;
}

.editPlant {
    font-family: aleo, serif;
    font-size: 18px;
    margin: 0 0 5px 5px;
    cursor: pointer;
}

.flower-popup textarea {
    border: 2px solid #808080;
    font-family: aleo, serif;
    color: #b3b3b3;
    font-size: 12px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    height: 50px;
    margin-left: -15px;
    /*    margin: 5px 0 0 0;*/
}

.today,
#save,
.startnewbloom {
    background-color: #808080;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 15px;
    border-radius: 5px;
    display: inline-block;
}

#more-info {
    background-color: #BA0c2F;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 20px;
    border-radius: 5px;
    display: inline-block;
    float: left;
}

#save {
    background-color: #BA0c2F;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 20px;
    border-radius: 5px;
    display: inline-block;
}

#current-health button {
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 67px;
}

.today {
    /*    margin: 0; */
}

.today:active {
    background-color: #BA0C2F;
}

#current-health button:active {
    background-color: #BA0C2F;
}

#current-health {
    font-family: aleo, serif;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.flower-popup img {
    height: 30px;
    width: auto;
}

.calendar {
    transform: translateY(25%);
    overflow: hidden;
    position: relative;
}

.calendar input {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
}

.calendar img {
    margin: 0;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

#save {
    float: right;
    margin-right: 15px;
}

#more-info,
#save {
    /*    margin-top: 3px;*/
}

#more-info {
    margin-left: -15px;
}

#more-info a {
    color: white;
}

.subsection {
    margin-left: 30px;
}


/*
.glowHealth {
  box-shadow:0 0 20px #BA0C2F;
  background-color: #BA0C2F;
}

.noglowHealth {
  background-color: #808080;
}
*/

.glowHealthPoor {
    /*   box-shadow:0 0 20px #BA0C2F;*/
    background-color: #BA0C2F;
}

.glowHealthFair {
    /*  box-shadow:0 0 20px #F3C467;*/
    background-color: #F3C467;
}

.glowHealthGood {
    /*  box-shadow:0 0 20px #61d166;*/
    background-color: #61d166;
}

.noglowHealth {
    background-color: #DFE0E0;
    background-color: #808080;
}

.alertRow {
    background-color: #F3C467;
}

.customNgDisabled {
    background-color: #dfe0e0;
    color: #808080;
}

label {
    padding: 10px;
}


/*  checkbox styling */


/*
input[type="checkbox"] {
    display: none;
}
*/


/* to hide the checkbox itself */


/*
input[type=checkbox]:before {
    display: inline-block;
}
*/


/*input[type="checkbox"]:before */


/* unchecked icon */


/*


label {
    position: relative;    
    width: 20px;
}
*/

input[type=checkbox] {
/*    display: none;*/
    /*
    position: absolute;
    opacity: 0;
*/
}

input[type=checkbox]+span {
    background-image:url(../images/empty_checkbox.svg) no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    /*
    width: 50px; 
    padding: 0px; 
*/
}


/* checked icon */

input[type=checkbox]:checked + span {
    background-image:url(../images/checked_checkbox.svg) no-repeat; 
    height: 20px;
    width: 20px;
    display: inline-block;
    /*
    width: 50px;
    padding: 0px;
*/
}