a {
    text-decoration: none;
}

main nav ul li {
    float: left;
    width: 33.333333333%;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: 100;
    background-color: #01997b;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 5px;
    font-weight: 400;
}

main nav ul li a {
    text-decoration: none;
    color: white;
}

main nav ul {
    overflow: hidden;
}

#active {
    color: #2b2e30;
    font-weight: 400;
    background-color: white;
    padding: 15px 30px 15px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#current-health textarea {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.top-margin textarea {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}


/*page nav*/

.page-nav {
    background: none;
    text-align: center;
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: auto;
}

#back-button {
    /*    display: inline;*/
    position: absolute;
    top: 0;
    left: 5px;
    margin: 0;
    width: 60px;
/*    background-color: #808080;*/
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

#title {
    font-family: Aleo, serif;
    font-size: 35px;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 0;
}


/*TABLE*/

#center-table {
    margin: auto;
    align-items: center;
}

main table {
    margin: 0 auto;
    background-color: #eaeee7;
    border-collapse: collapse;
    width: 95%;
}

thead {
    background-color: #01997b;
    color: white;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: 100;
    font-weight: 400;
   
}

table,
td,
th {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    height: auto;
     padding: 15px 0px; 
}

th {
    font-size: 18px;
}


/*td:nth-child(1) {*/


/*!*width: 20%;*!*/


/*}*/


/*td:nth-child(2) {*/


/*!*width: 40%*!*/


/*}*/


/*td:nth-child(3) {*/


/*!*width: 20%;*!*/


/*}*/


/*td:nth-child(4) {*/


/*max-width: 60px;*/


/*}*/


/*td:nth-child(5) {*/


/*max-width: 60px;*/


/*}*/

td {
    vertical-align: top;
}

.flagged {
    background-color: #4D4D4D;
}


/*POP UP*/

#close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.flower-popup #close img {
    padding: 0;
    margin: 0;
}

.flower-popup {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    padding: 50px 0px 0px 0px; */
}

.formcontent {
    padding: 15px;
}

.flower-popup form {
    width: 75%;
    max-height: 100%;
    overflow: auto; 
    -webkit-overflow-scrolling: touch; 
    background-color: #eaeee7; 
    position: absolute;
    left: 50%;
/*    top: 50%;*/
    transform: translateX(-50%);
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 30px;
}

.center h1 {
    text-align: center;
    font-family: aleo, serif;
    font-size: 26px;
    letter-spacing: 3px;
    background-color: #01997b;
    padding: 30px 0px 30px 0px;
    width: 100%;
/*    height: 90px;*/
    color: white; 
}

.top-margin {
    margin-top: 10px;
}

.flower-popup label {
    font-family: aleo, serif;
    font-size: 18px;
    margin: 0 0 5px 5px;
}

.start-stop-blooming {
    display: block;
    margin-left: 30px;
}

.start-stop-blooming label {
    width: 100px;
}

.editPlant {
    font-family: aleo, serif;
    font-size: 18px;
    margin: 0 0 5px 5px;
    cursor: pointer;
}

.flower-popup textarea {
    border: none; 
    font-family: 'Raleway' , sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    height: 50px;
    margin: 5px 0 0 0;
}

.today,
.startnewbloom {
    background-color: #808080;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px 15px;
    border-radius: 5px;
    display: inline-block;
}

#more-info {
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 15px 5px 5px 5px;
    border-radius: 5px;
    display: inline-block;
    float: left;
}

.save {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

#edit-button {
/*    background-color: #808080;*/
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

#save {
    float: right;
}

.popup-save {
    background-color: #BA0c2F;
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin: 15px 5px 5px 5px;
}

#edit-button,
#move-certain-plants {
    margin: 0 10px 0 5px;
}

.table-footer {
    margin: 10px auto 0 auto;
    width: 95%;
}

#current-health button {
    text-decoration: none;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
    /*    width: 67px;*/
}

.flower-popup img {
    height: 30px;
    width: auto;
}

.calendar {
    transform: translateY(25%);
    overflow: hidden;
    position: relative;
}

.calendar input {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
}

.calendar img {
    margin: 0;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

#more-info a {
    color: white;
}

.glowHealthPoor {
    /*   box-shadow:0 0 20px #BA0C2F;*/
    background-color: #EF645F;
}

.glowHealthFair {
    /*  box-shadow:0 0 20px #F3C467;*/
    background-color: #FDE48F;
}

.glowHealthGood {
    /*  box-shadow:0 0 20px #61d166;*/
    background-color: #01997B;
}

.noglowHealth {
    background-color: #808080;
}

.alertRow {
    background-color: #fde48f;
}

.customNgDisabled {
    background-color: #dfe0e0;
    color: #808080;
}

#main-table tr td {
    padding: 0;
}

#main-table table span {
    width: 100%;
}

#main-table td label {
    margin-left: 0;
}

#current-health label,
#sprayed-for-pests,
#repot label {
    margin-top: 15px;
    display: inline-block;
}


/* checkbox styling */

.popup-flagged label {
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

table input,
.popup-flagged input {
    opacity: 0;
    width: auto;
    margin: 8px 20px;
    transform: translateY(-7px);
}

.table-checkbox {
    background: url(../images/empty_checkbox.svg)center center no-repeat / cover;
    background-image: url(../images/empty_checkbox.svg);
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
}

#flagged-span {
    margin-left: 8px;
}