main h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 22px;
}

main p {
    text-align: center;
    margin-bottom: 30px;
}

main img {
    width: 75%;
    margin: 0 auto;
    display: block;
}

main figcaption {
    margin: 30px 0 30px 0;
    text-align: center;
    text-decoration: underline;
}


main figcaption a {
 transition: .5s ease;   
}

/* mouse over link */
main figcaption a:hover {
    color: #bbbbbb;
}

main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 50px;
    background-color: rgba(255, 255, 255, .2);
    padding: 30px;
}

.white-section-body {
 max-width: 800px;
    width: 100%;
    margin: 0 auto 0px;
    background-color: white; 
    padding: 30px; 
}

body {
    background: url(../images/background39.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main p {
    line-height: 140%;
}