main h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 22px;
}

.intro {
    text-align: center;
    margin-bottom: 10px;
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 17px;
}

main form div {
    margin: 20px 0;
}

main label {
    display: block;
    margin: 5px 0;
}

.message {
    margin: 0 0 20px 0;
}

#name-section {
    width: 100%;
    float: left;
}

@media screen and (max-width: 500px) {
 #name-section {
    width: 100%;
     float: none;
 }
}

#email-section {
    width: 45%;
    float: right;
}

@media screen and (max-width:500px) {
    #form {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    #email-section {
        width: 100%;
        margin-top: -5px;
    }
}

@media screen and (max-width: 500px) {
 #message {
  width: 100%;
 }
}

@media screen and (min-width: 500px) {
 #message {
  width: 100%;
 }
}

@media screen and (min-width: 500px) {
    #email-section {
      width: 100%;
          margin-top: -5px;
    }
}

#subject-section {
    clear: both;
}


/*
@media screen and (max-width: 450px){
   #subject {
    width: 60%;
   }
}
*/

main h2 {
    margin: 50px 0 10px 0px;
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

main img {
    margin: 20px 10px 0 65px;
}

main ul li a {
    margin: px 10px 0 65px;
}

main a {
    text-decoration: underline;
}

main form input {
    padding: 2px;
    font-size: 15px;
    border: 2px solid #bcbcbc;
    border-radius: 5px;
    box-sizing: border-box;
}

main form input {
    width: 428px;
}

/*
@media screen and (max-width: 500px) {
 main form input {
   width: 100%;
 }
}

@media screen and (max-width: 500px){
 #submit-container #button {
  padding: 15px;
     font-size: 16px;
     letter-spacing: 1px;

 }
}
*/




@media screen and (min-width: 500px)  {
   #submit-container #button {
    width: 10%;
     padding-right: 20%;

}
}
/*

@media screen and (max-width: 430px){
   main from #subject-section {
   width: 100px;
   }
}
*/

main form textarea {
    padding: 5px;
    font-size: 15px;
    width: 428px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    border: 2px solid #bcbcbc;
    border-radius: 5px;
    position: inline-block;
    vertical-align: top;
}


/*
@media screen and (max-width: 430px){
   main form textarea {
    width: 60%;
   }
}
*/





#button {
   background-color: white;
    color: #bcbcbc;
    border: 2px solid #bcbcbc;
    padding: 8px 40px;
    border-radius: 5px;
     font-family: 'Raleway', sans-serif;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .1);
    font-weight: 600;
    font-size: 14px;
    transition: .5s ease;
    cursor: pointer;

}



#button:hover {
    background-color: #bcbcbc;
    color: white;

}




/*
@media screen and (max-width: 430px){
   #submit-container {
    float: left;
       left: 50%;
   }
}
*/

@media screen and (max-width: 780px) {
    .facebook p {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .instagram p {
        display: none;
    }
}

/*
@media screen and (max-width: 780px) {
    .instagram {
        display: absolute;
        float: right;
        margin-top: -71px;
        margin-right: 250px;
    }
}
*/

@media screen and (max-width: 780px){
#social-media span {
/*
    display: block;
    width: 100%;
    margin: 0 auto;
*/
   display: inline-block;
    margin: 0 auto;
    width: 100%;
    margin: 10px 0px 10px 0px;

}
}

#submit-container {
    text-align: center;
}

main form {
    width: 428px;
    margin: 0 auto;
    overflow: hidden;
}

main {
    position: relative;
}

main form input[type=text] {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

body {
    background: url(../images/background42.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main p {
    line-height: 140%;
    text-align: center;
    max-width: 500px; 
    display: block;
    margin: 0 auto; 
    margin-bottom: 30px; 
    font-size: 14px; 
}

main span {
    height: 50px;
    position: relative;
    top: 20px;

    display:  block;

}

.facebook {
display: inline-block;
    width: 50px;
    margin-right: 20px;
}

.instagram {
display: inline-block;
    width: 50px;
}

#social-media {
display: block;
    margin: 0 auto;
    width: 20%;
margin-top: 20px;
}




/*
.face-inta {
 display: block;
    margin: 0 auto;
}
*/

/*
@media screen and (max-width: 430px){
    .facebook #link {
      display: none;
 }
}
*/

.facebook span {
    background: transparent url(../images/facebook.svg) center top no-repeat;
    transition: .5s ease;


}

/*
.facebook p {
    margin-left: 100px;
    margin-top: -40px;
    margin-bottom: 15px;
}
*/
/*

.instagram p {
    margin-left: -170px;
    margin-top: -30px;
    margin-bottom: 15px;
}
*/


/* mouse over link */

.facebook span:hover {
    background-image: url(../images/facebook_hover.svg);
}

.instagram span {
    background: transparent url(../images/instagram.svg) center top no-repeat;
    transition: .5s ease;

}


/* mouse over link*/

.instagram span:hover {
    background-image: url(../images/instagram_hover.svg);
}


/* mouse over link */

main ul li a:hover {
    transition: .5sec ease;
    color: #ab0c2f;
}


/* mouse over link */

.visit p a, section p a {
  transition: .5s ease;
}


.visit p a:hover, section p a:hover {
    color: #bbbbbb;
}

.location {
    margin: 50px 0 0 0;
}

.location h2 {
    margin: 20px 0 10px 0
}

.location ul {
    margin: 30px 0 0 150px;
}

@media screen and (max-width: 500px) {
    .location ul {
        margin-left: 30px;
    }
}

.location li {
    margin: 10px 0;
}





main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 50px;
    background-color: rgba(255, 255, 255, .2);
    padding: 30px;
}

.white-section-body {
 max-width: 800px;
    width: 100%;
    margin: 0 auto 0px;
    background-color: white;
    padding: 30px 30px 130px 30px;
}


/*
@media screen and (max-width: 500px) {
    #contact-form {
        width: 50%;
    }
}
*/

@media screen and (max-width: 530px) {
    main form {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    main form {
        width: 200px;
    }
}


@media screen and (max-width: 530px) {
    main form input {
        width: 100%;
    }
}


@media screen and (max-width: 530px) {
    main form input {
        width: 100%;
    }
}


@media screen and (max-width: 530px) {
   #name input  {
        width: 100%;
    }
}

@media screen and (min-width: 530px) {
   #name input  {
        width: 100%;
    }
}
