main h1 {
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    font-size: 50px;
    margin: 10px 0 30px 0;
    text-align:center;
}

main h2 {
    font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 10px 0 25px 0;
    text-align: center;
}

main li {
    margin: 20px 20px;
}

#orchids {
    width: 47%;
    float: left;
}

main ul {
    background: white;
    padding: 10px;
}

#ferns {
    width: 47%;
    float: right;
}

#viewcollection {
    overflow: hidden;
    transition: .5sec ease; 
}


/* mouse over link */
main #viewcollection a:hover {
    color: #ab0c2f;
}


main #viewcollection li{
     font-family: Aleo, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 20px; 
}