<header>
   
   <div class="upper-heading"> 
        <ul>
            <li ng-hide="AuthUser"> <a href="#/users/register">Register</a></li>
            <li>   <a href="#">Logout</a> </li>
        </ul>
        </div>
        
        
    <nav id="main-nav">
        <a href="#/house/display" id="logo"><img src="images/livingplantwhite.svg" alt="logo"></a>

       
        
        <div class="main-heading"> 
        <ul>

            <li><a href="#/house">House</a></li>
            <li><a href="#/search">All Plants</a></li>
            <li><a href="#/plant/create">Create New</a></li>


        </ul>
        
        </div>
    </nav>
</header>