<header ng-controller="BodyViewController">

   <div class="upper-heading">
        <ul>
            <li ng-show="$root.AuthUser"> <a href="#/users/register">Register</a></li>
            <li ng-show="$root.isLoggedIn"><a class="logout" ng-click="logoutUser()">Logout</a></li>
            <li ng-show="!$root.isLoggedIn"><a href="#/login">Login</a></li>
        </ul>
        </div>


    <nav id="main-nav">
        <a href="#/house/display" id="logo"><img src="images/livingplantwhite.svg" alt="logo"></a>



        <div class="main-heading">
        <ul>

            <li><a href="#/house">House</a></li>
            <li><a href="#/search">Search</a></li>
            <li><a href="#/plant/create">Create New</a></li>


        </ul>

        </div>
    </nav>
</header>
