 <!--<div id="container">-->
    <!--<p> Welcome Cheryl! </p>-->
<!--</div>-->

<!--<div id="title">-->
    <!--<h1> Users: </h1>-->
<!--</div>-->


<!--<div class="icon">-->
    <!--<img src="images/checkmark.svg" alt="checkmark">-->
   <!--<div class="edit-icon">  <img src="images/edit.svg" alt="edit"> </div>-->
<!--</div>-->


<!--<div class="divider">-->

<!--</div>-->






<!--<div id="form-users">-->
<!--<form action="users"> -->

   <!-- -->
   <!--<div class="section"> -->
    <!--<label id="firstname" class="users">-->
      <!--First Name  <input type="text" name="firstname" placeholder="John" value="John" >-->
    <!--</label>-->

    <!--<label id="lastname" class="users">-->
      <!--Last Name  <input type="text" name="email" placeholder="Smith" value="Smith">-->
    <!--</label>-->

    <!--<label id="email" class="users">-->
       <!--Email <input type="text" name="email" placeholder="email@bsu.edu" value="email@bsu.edu">-->
    <!--</label>-->

    <!--<label id="password" class="users">-->
      <!--<button><a href="#">Change Password</a></button>-->
    <!--</label>-->
     <!--<img src="images/minus.svg" alt="minus">-->
<!--</div>-->


<!--<div class="section"> -->
 <!--<label id="firstname" class="users">-->
      <!--First Name  <input type="text" name="firstname" placeholder="John" value="John" >-->
    <!--</label>-->

    <!--<label id="lastname" class="users">-->
      <!--Last Name  <input type="text" name="email" placeholder="Smith" value="Smith">-->
    <!--</label>-->

    <!--<label id="email" class="users">-->
       <!--Email <input type="text" name="email" placeholder="email@bsu.edu" value="email@bsu.edu">-->
    <!--</label>-->

     <!--<label id="password" class="users">-->
      <!--<button><a href="#">Change Password</a></button>-->
    <!--</label>-->
     <!--<img src="images/minus.svg" alt="minus">-->
     <!--</div>-->
     <!-- -->
     <!-- -->
     <!-- -->
     <!--<div class="section"> -->
      <!--<label id="firstname" class="users">-->
      <!--First Name  <input type="text" name="firstname" placeholder="John" value="John" >-->
    <!--</label>-->

    <!--<label id="lastname" class="users">-->
      <!--Last Name  <input type="text" name="email" placeholder="Smith" value="Smith">-->
    <!--</label>-->

    <!--<label id="email" class="users">-->
       <!--Email <input type="text" name="email" placeholder="email@bsu.edu" value="email@bsu.edu">-->
    <!--</label>-->

    <!--<label id="password" class="users">-->
      <!--<button><a href="#">Change Password</a></button>-->
    <!--</label>-->
     <!--<img src="images/minus.svg" alt="minus">-->
     <!--</div>-->
     <!-- -->
     <!-- -->
     <!-- -->
     <!--<div class="section"> -->
      <!--<label id="firstname" class="users">-->
      <!--First Name  <input type="text" name="firstname" placeholder="John" value="John" >-->
    <!--</label>-->

    <!--<label id="lastname" class="users">-->
      <!--Last Name  <input type="text" name="email" placeholder="Smith" value="Smith">-->
    <!--</label>-->

    <!--<label id="email" class="users">-->
       <!--Email <input type="text" name="email" placeholder="email@bsu.edu" value="email@bsu.edu">-->
    <!--</label>-->

     <!--<label id="password" class="users">-->
      <!--<button><a href="#">Change Password</a></button>-->
    <!--</label>-->
     <!--<img src="images/minus.svg" alt="minus">-->
     <!--</div>-->
     <!-- -->
     <!-- -->
     <!-- -->
     <!--<div class="section"> -->
      <!--<label id="firstname" class="users">-->
      <!--First Name  <input type="text" name="firstname" placeholder="John" value="John" >-->
    <!--</label>-->

    <!--<label id="lastname" class="users">-->
      <!--Last Name  <input type="text" name="email" placeholder="Smith" value="Smith">-->
    <!--</label>-->

    <!--<label id="email" class="users">-->
       <!--Email <input type="text" name="email" placeholder="email@bsu.edu" value="email@bsu.edu">-->
    <!--</label>-->

     <!--<label id="password" class="users">-->
      <!--<button><a href="#">Change Password</a></button>-->
    <!--</label>-->
     <!--<img src="images/minus.svg" alt="delete user">-->
<!--</div>-->

<!--</form>-->
 <!--</div>-->
 <!-- -->
 <!--<div class="divider">-->

<!--</div>-->

<!--<div class="add-user"> -->
<!--<img src="images/plus.svg" alt="add user">-->
<!--</div>-->




  <!--<div id="change-password-admin"> -->

<!--This is the start-->
 <section class="flower-popup" ng-controller="ChangePasswordAdminViewController">

<form >

 <div class="center"><!-- was header for the class-->
        <button id="close" ng-click="closePopUp()"><img src="images/x.svg" alt=""></button>

        <h1>Change Password</h1>
        </div>
 <div class="formcontent">



    <!--<form class="form-signin">-->


       <label> <div id="name"> {{specificUser.firstName}} {{specificUser.lastName}}  </div></label>
<!--
        <input type="text" id="username" placeholder="Email" required autofocus ng-model="credentials.username">

-->
     <br>
        <label><div class="password">Email: </div> </label>
     <br>
        <input  id="pass" placeholder="Password" required ng-model="specificUser.email">

     <br>
     <label><div class="password">New Password: </div> </label>
     <br>
     <input type="password" id="pass" placeholder="Password" required ng-model="creds.password">



     <div id="button">
        <button type="button" ng-click="changePasswordFunction()"><p> Change Password </p></button></div>
    <!--</form>-->
</div>


 </section>

 <!--this is the end-->



  <!--</div>-->




