
   
<div id="change-password"> 
   <div id="container">
    <p> Welcome! </p>
</div>
   <div>
    <h1>This is your first time logging in. Please change your password. </h1>
    <form class="form-signin">
       <lable> Email: </lable>
        <input type="text" id="username" placeholder="Email" required autofocus ng-model="credentials.username">
        
         <lable><div class="password"> Old Password: </div> </lable>
        <input type="password" id="pass" placeholder="Password" required ng-model="credentials.password">
        
        <lable><div class="password"> New Password: </div> </lable>
        <input type="password" id="pass" placeholder="Password" required ng-model="credentials.password">
        
         <lable><div class="password"> New Password: </div> </lable>
        <input type="password" id="pass" placeholder="Password" required ng-model="credentials.password">
       
        <div id="button"> 
        <button ng-click="login(credentials)" type="button"><p> Change Password </p></button></div>
    </form>
</div>


</div>