<div id="change-password-admin">

    <section class="flower-popup" ng-controller="ChangePasswordAdminViewController">

        <form>
            <div class="center">
                <button id="close" ng-click="closePopUp()"><img src="images/x.svg" alt=""></button>
                <h1>Change Password</h1>
            </div>

            <div class="formcontent">
                <form class="form-signin">
                    <label id="name">
                        Set a new password for {{specificUser.first_name}} {{specificUser.last_name}}'s account.
                    </label>

                    <label class="password">
                        <p> Email:</p>
                        <input placeholder="Password" required ng-model="specificUser.email">
                    </label>

                    <label class="password"> <p> New Password:</p>
                    <input type="password" placeholder="Password" required ng-model="creds.password"></label>

                    <div id="button">
                        <button type="button" ng-click="changePasswordFunction()">Save</button>
            
                    </div>
                    
                </form>
            </div>

        </form>
    </section>
</div>