<!DOCTYPE html>
<html lang="en">

<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>coolhouse</title>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>-->
    <!--<link rel="stylesheet" href="styles/global.css">-->
    <!--<link rel="stylesheet" href="styles/warmhouse.css">-->
<!--</head>-->

<body>
    <!--<header>-->
        <!--<nav id="main-nav">-->
            <!--<a href=""><img src="images/livingplantwhite.svg" alt="logo"></a>-->
            <!--<ul>-->
                <!--<li><a href="">Create New</a></li>-->
                <!--<li><a href="">All Orchids</a></li>-->
                <!--<li><a href="">Tables</a></li>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</header>-->
    <main>
    <nav id="houses">
        <ul>
            <li><a href="#/house/display">Displayhouse</a></li>
            <li><a href="#/house/warm"> Warmhouse </a></li>
            <li><a href="#/house/cool"> <class id="active"> Coolhouse </class></a></li>
        </ul>
    </nav>
        <a href="pop-up.html">    <img src="images/coolhouse.svg" alt="coolhouse"></a>
    </main>
</body>


</html>