<div id="delete-user-admin">

    <section class="flower-popup" ng-controller="DeleteUserViewController">

        <form>
            <div class="center">
                <button id="close" ng-click="closePopUp()"><img src="images/x.svg" alt=""></button>
                <h1>Delete User</h1>
            </div>

           
           <div class="formcontent">
                <form class="form-signin">
            <div class="delete-user-content">
               <p> Are you sure you want to delete this user? </p>
               <div class="user-name"> 
               {{speificUser.first_name}}
               </div>
               <div id="button">
                        <button type="button" ng-click="deleteUserFunctionPopUp(speificUser)">Delete User</button>
                    </div>
            </div>
                   
            </form>
             </div> 

        </form>
    </section>
    
</div>