<div id="user-guide-section">
    <h1>User Guide for the Ball State Living Plant Collection Application </h1>


    <h2> Introduction: </h2>


    <p> Welcome to the step-by-step guide on how to maneuver through the Ball State Living Plant Collection application. This guide will help you to use application to its fullest capacity. </p>


    <p>This application is connected to the Ball State Living Plant Collection public site. Some specific information that is entered in this application will be copied and available to the public. Public information will be denoted in the app.</p>




    <h2> Houses:  </h2>


    <p>After logging in, you will be directed to the “Houses” screen which will display four different sections of the greenhouse: Displayhouse, Warmhouse, Coolhouse, Outside. </p>


    <p>The Displayhouse, Warmhouse, and Coolhouse sections all include mapped layouts of the greenhouse.</p>


    <p>Instead of a map, the Outside section uses buttons to help the user navigate to different parts of the section.</p>


    <p>The “Houses” screen also serves as the homepage for the application. Clicking the “Ball State Living Plant Collection” logo in the top left corner will take you back to the “Houses” page. </p>






    <h2>Plants’ Table:  </h2>


    <p>When you click on a table, you will be directed to a listing of all the plants that are on the selected table. </p>
    <ul>
        <li>From this screen you can check each plant’s checkbox on the “Verified Today” column. Checking this box means that you have recently checked in and updated the plant.
            <li>The checks will clear after 24 hours. </li>
            <li>You will know the last time that you last checked the boxes by the “Last Verified” column, which will indicate the date that you last checked that plant’s checkbox. </li>
    </ul>
    <ul>
        <li> Clicking the Save button will automatically save all the checks that you have made to that screen.</li>
        <li>If you forget to click the Save button, your changes will save when you leave the page.</li>
        <li> Clicking the Back button will take you back to the “Houses” display, and more specifically back to the tab that you were previously on.</li>
    </ul>




    <h2>Moving Plants to a Different Table: </h2>
    <ul><li> While on the table screen, clicking the Edit button on this page will bring up checkboxes to the left of each plant. </li><li> Check the checkboxes of the plants that you want to move, then click the “Move Selected Plants” button. </li><li> This will bring up a popup that allows you to move the selected plants to a new table. </li><li> Select what table you want to move the plants to by clicking a specific house button, then selecting a table from that house. </li><li> The table you have selected will appear in a darker green color and the name of the table will appear next to the move button. </li><li> Click the move button to confirm the moving of the plants. When the plants are moved, you will be directed to the previous table that you were on.</li>
    </ul>







    <h2>More Information About Each Plant:</h2>


    <p>This page will be the main place to add and edit information about each plant. There is a lot contained here, but once the information is added, it typically will not change. </p>


    <p>The information is split up in many different sections to help with organization and to reduce the risk of errors. Within each section heading, there is an edit button in the top right. After clicking this button, the data within only that section will be editable. </p>


    <h3> Vitals:</h3><ul> <li> The profile photo, accession number, current table location, scientific name, common name, and the last verified date are contained in this section. The accession number is not editable after the original creation of the plant. The profile photo is selected further down the page.</li>
    </ul>

    <h3>Taxonomic Rank:</h3>
    <ul><li> This section contains the scientific classification for the plant. </li>
    </ul>
    
    <h3>Culture:</h3> <ul><li> This section contains the distribution, habitat, a list of countries, and two comment fields The list of selected countries will be displayed with not in edit mode. </li><li> While in edit mode, options to add or remove countries will appear.</li> <li> To add a country, select it from the “Add” dropdown menu.</li> <li> To delete a country, select it from the “Remove” dropdown menu. </li><li> The comment boxes correlate to the data that is above.</li>
    </ul>

   <h3> Special Collections:</h3>
    <ul><li> Contains the special collection, with the option to add new collections and delete existing collections. </li><li> Something about what the collections are To select a collection, select it from the “Collection” dropdown menu. </li><li> To add a new collection, type it into the “Add” input box and click the “Create New Collection button.</li><li>  To delete an existing collection, select it from the “Delete” dropdown menu.</li> <li> NOTE: if you delete a collection from this menu, it will be deleted from the entire database. Any plants with this collection will no longer be connected. </li><li> The collection will no longer appear on the public site.</li>
    </ul>

    <h3>Description:</h3>
    <ul><li> Contains a comment box.</li> <li> Provide a description of the plant that will be helpful to the public. </li><li> Anything typed in this section will appear on the public site.</li>
    </ul>

    <h3>Hybrid:</h3>
    <ul><li> Contains fields for two parents, the GREX status and a comment.
    </li>
     </ul>
      <h3> Inactive: </h3>
       <ul><li> Contains an inactive and a dead date and a comment. </li><li> Once a plant is marked as inactive or dead, it will no longer appear on a table or on the public site. </li> <li> Once a plant is marked as dead, it is also marked as inactive. </li> <li> However, a plant can be inactive without being dead.</li>
    </ul>

    <h3>Photos:</h3>
    <ul>Shows photos that have been added to the plant and shows the category of photo. Lets you delete existing photos, add new photos, and match photos that already belong to another plant. To add a photo: Click “Choose a file” Choose the photo from the computer or iPad The photo will show up in the list with “Habitat” selected
    </ul>
    <h3>To delete a photo:</h3>
    <ul>
        Click delete button that corresponds to the photo(s) you want to delete The photo will become lighter and a warning message will popup Hit “Save” The page will refresh and the photo will be deleted. If you click delete on accident, click one of the green buttons to undo the delete
    </ul>
   <h3> Profile, Habitat & Other: </h3>
    <ul>
        Use these to classify and sort photos Only one picture can be the “Profile” picture at a time. “Habitat” is the general category. These will show up on the public site. “Other” is for any photos that are associated with the plant, but aren’t photos that are suitable for the public to see.
    </ul>
   <h3> Match Photos: </h3>
    <ul>
        Use this feature to match photos from other plants with similar taxonomic ranks. Click the “Match Photos” button to open the popup Click the “Select” button for the photo(s) you would like to add. Once a photo is selected, the button will turn dark green. Click the “Save” button at the bottom to add the photos.
    </ul>


    Split: Contains the recipient, date of split, and a comment box.







    <h2>Search Database: </h2>


    <p>This Page will show the database of all the plants. </p>
    <ul>
        On the left are the database sections. By checking the boxes on the left you will be able to filter down your search to what plants you are looking for. On the right shows the database table results based on the sections that are selected on the left. The first 28 plants are shown in the table on the right. To view more plants scroll down to the end of the table and use the next and previous buttons or the numbered list. By clicking on any of the plant rows on the right, will take you to the more information page for that plant. See More Information page. </ul>




    <h2>Create a New Plant: </h2>


    <p>By clicking “New Plant” in the top right header, you will be directed to a page where you can insert a new plant and all of its info. This outline is very similar to the More Information page. See More information page. </p>
    <ul>
        Click the save all button at the bottom of the screen to save all the information that you have entered. If you forget to click the save all button, the information you have entered will automatically save when you move to another page. The back to top button will take you back to the top of the page. </ul>






    <h2>Registration Record: </h2>


    <p>Only the Manager user will have access to the Register page. The “Register” link will only appear in the header if the user is logged in as a Manager user.</p>


    <p>This page holds a current registration record of users who are registered to use the application. This can be useful incase a user forgets their password, a current Manager can look up the information. </p>


    <h3>Creating a new user:</h3>
    <ul>
        If you scroll down to the bottom of the page, you will be able to create new user by clicking the “add user” button. Enter information for that user into each of the inputs. Checking the box for “Manager” means that the user can control the “Register” page. Click the “Save” button when you are finished creating a new user
    </ul>

    <h3>Edit an existing user:</h3>
    <ul>
        If you want to edit an existing user, click the edit icon in the top right of the users header. Be aware that this will activate all the inputs for all the existing users. While in edit mode, you can change current information in the inputs.
    </ul>

    <h3>Changing a User’s password:</h3>
    <ul>
        While in edit mode, you can also change the password of the user by clicking the “change password” button. This will bring up a popup that will have you clarify the user’s email and then set the user’s new password. Clicking the “save” button will update the password of the user.
    </ul>

   <h3> Deleting a User:</h3>
    <ul>
        While in edit mode, you will see a red “Delete User” button. Clicking this button will bring up a popup clarifying that you will be deleting this user from registration of the app. Clicking the “Delete User” button in the popup will confirm your action and delete the user from the registration of the app.
    </ul>






    <h2>Logout: </h2>


    <p>Clicking the Logout link in the top right corner of the header will log the user out of the application. </p>
    <ul>
        <li> The user will be redirected to the login page. </li>
    </ul>

</div>