<div>
    <nav id="houses">
        <ul>
            <li><a href="Ipad-map.html"><class id="active">Displayhouse</class></a></li>
            <li><a href="warmhouse.html">Warmhouse</a></li>
            <li><a href="coolhouse.html">Coolhouse</a></li>
        </ul>
    </nav>
    <section id="Displayhouse-map">
        <a href="table.html"><img src="images/displayhouse.svg" alt=""></a>
        <map name="Displayhouse">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
            <area shape="rect" coords="" href="" alt="">
        </map>
    </section>
</div>
