

   

   <div>
    <h1>Login</h1>
    <form class="form-signin">
       <lable> Email: </lable>
        <input type="text" id="username" placeholder="Email" required autofocus ng-model="credentials.username">
        
        <lable><div class="password"> Password: </div> </lable>
        <input type="password" id="pass" placeholder="Password" required ng-model="credentials.password">
        
       
        <div id="button"> 
        <button ng-click="login(credentials)" type="button"><p> Sign in</p></button></div>
    </form>
</div>
