<div id="delete-user-admin">

    <section class="flower-popup" ng-controller="ChangePasswordAdminViewController">

        <form>
            <div class="center">
                <button id="close" ng-click="closePopUp()"><img src="images/x.svg" alt=""></button>
                <h1>Log Out</h1>
            </div>

           
           <div class="formcontent">
                <form class="form-signin">
            <div class="delete-user-content">
               <p> You have successfully logged out. </p>
               
               <div id="button">
                        <button type="button" ng-click="changePasswordFunction()">OK</button>
                    </div>
            </div>
                   
            </form>
             </div> 

        </form>
    </section>
</div>