<div>
    <form method="post">

        <fieldset id="vitals">
            <img src="http://placekitten.com/400/400" alt="" id="thumbnail">

            <button class="edit" ng-click="editCritical()" >
                <img src="images/edit.svg" alt="edit" ng-hide="editPlant.critical">
                <img src="images/checkmark.svg" alt="edit" ng-hide="!editPlant.critical">
            </button>

            <div>
                <label><input type="text" ng-model="plant.accession_number" name="accession" ng-disabled="!editPlant.critical"></label>
                <label id="location"><img src="images/location.svg" alt="Location">

                    <select ng-model="plant.locationName" ng-disabled="!editPlant.critical">
                        <option ng-repeat="table in Tables">{{table}}</option>
                    </select>

                </label><br/>
                <label><input type="text" ng-model="plant.scientific_name" name="scientific" ng-disabled="!editPlant.critical"></label><br/>
                <label><input type="text" ng-model="plant.name" name="common" ng-disabled="!editPlant.critical"></label><br/>
            </div>
        </fieldset>

        <fieldset id="taxonomic">
            <h1>Taxonomic Rank</h1>
            <button class="edit" ng-click="editTaxonomy()" >
                <img src="images/edit.svg" alt="edit" ng-hide="editPlant.taxonommy">
                <img src="images/checkmark.svg" alt="edit" ng-hide="!editPlant.taxonommy">
            </button>

            <label class="labelfirst">Class:</label><input type="text" ng-model="plant.class" ng-disabled="!editPlant.taxonommy">
            <label>Genus:</label><input type="text" ng-model="plant.genus" ng-disabled="!editPlant.taxonommy"><br/>
            <label>Tribe:</label><input type="text" ng-model="plant.tribe" ng-disabled="!editPlant.taxonommy">
            <label>Species:</label><input type="text" ng-model="plant.species" ng-disabled="!editPlant.taxonommy"><br/>
            <label>Subtribe:</label><input type="text" ng-model="plant.subtribe" ng-disabled="!editPlant.taxonommy">
            <label>Variety:</label><input type="text" ng-model="plant.variety" ng-disabled="!editPlant.taxonommy"><br/>
            <label class="labellast">Authority:</label><input type="text" ng-model="plant.authority" ng-disabled="!editPlant.taxonommy">
        </fieldset>

        <fieldset id="culture">
            <h1>Culture</h1>
            <button class="edit" ng-click="editCulture()" ng-hide="edit">
                <img src="images/edit.svg" alt="edit" ng-hide="editPlant.culture">
                <img src="images/checkmark.svg" alt="edit" ng-hide="!editPlant.culture">
            </button>
            <label>Distribution:</label><input ng-model="plant.distribution" type="text"  ng-disabled="!editPlant.culture">
            <label>Habitat:</label><input ng-model="plant.habitat" type="text"  ng-disabled="!editPlant.culture"><br/>
            <label>Country:</label>
            <div ng-repeat="country in CountryNames">
                <p>{{country}}</p>
            </div>

            <br/>
            <textarea ng-model="plant.origin_comment" type="textarea" ng-disabled="!editPlant.culture" placeholder="Comment about the culture."></textarea>
            <br/>
        </fieldset>

        <fieldset id="accession">
            <h1>Accession</h1>
            <button class="edit" ng-click="editAccession()">
                <img src="images/edit.svg" alt="edit" ng-hide="editPlant.accesssion">
                <img src="images/checkmark.svg" alt="edit" ng-hide="!editPlant.accesssion">
            </button>
            <label>Donated to:</label><input type="text" ng-model="plant.accesssion" ng-disabled="!editPlant.accesssion">
            <label>Recieved:</label><input type="text" ng-model="plant.received_from" ng-disabled="!editPlant.accesssion"><br/>
            <label></label><input type="text" ng-model="plant.accesssion" ng-disabled="!editPlant.accesssion"><br/>
            <textarea type="textarea" placeholder="Comment about the donation." ng-disabled="!editPlant.accesssion" ng-model="plant.donation_comment" ></textarea>
        </fieldset>

        <fieldset id="description">
            <h1>Description</h1>
            <button class="edit" ng-click="editDescription()">
                <img src="images/edit.svg" alt="edit" ng-hide="editPlant.description">
                <img src="images/checkmark.svg" alt="edit" ng-hide="!editPlant.description">

            </button>
            <label></label>
            <textarea type="textarea" placeholder="More description of plant" ng-model="plant.description" ng-disabled="!editPlant.description"></textarea>
        </fieldset>

        <fieldset id="hybrid">
            <h1>Hybrid</h1>
            <button class="edit" ng-click="editHybrid()">
                <img src="images/edit.svg" alt="edit" ng-hide="editPlant.hybrid">
                <img src="images/checkmark.svg" alt="edit" ng-hide="!editPlant.hybrid">
            </button>
            <label class="labelfirst">
                Parent 1:
            </label>
            <input type="text" ng-model="plant.parent_one" ng-disabled="!editPlant.hybrid">

            <label class="labelfirst">
                Parent 2:
            </label>

            <input type="text" ng-model="plant.parent_two" ng-disabled="!editPlant.hybrid"><br/>

            <label class="labellast">GREX:</label>
            <input type="text" ng-model="plant.grex_status" ng-disabled="!editPlant.hybrid">

            <textarea ng-model="plant.hybrid_comment" type="textarea" ng-disabled="!editPlant.hybrid" placeholder="Comment here about Hybrid."></textarea>

        </fieldset>

        <fieldset id="inactive">
            <h1>Inactive</h1>
            <button class="edit" ng-click="editInactive()">
                <img src="images/edit.svg" alt="edit" ng-hide="editPlant.inactive">
                <img src="images/checkmark.svg" alt="edit" ng-hide="!editPlant.inactive">
            </button>

            <label for="check1" class="labelfirst">Inactive</label>
            <input id="check1" type="checkbox">
            <input type="date" value="2016-08-30" ng-disabled="!editPlant.inactive">
            <br/>

            <label for="check2">Dead</label>
            <input id="check2" type="checkbox">
            <input type="date" value="plant.aaa" ng-disabled="!editPlant.inactive" placeholder="yyyy-MM-dd">
            {{plant.inactive_date}}
            <br/>

            <!--            <label for="inactivecomment">Comment:</label>-->
            <textarea type="textarea" id="inactivecomment" ng-disabled="!editPlant.inactive" placeholder="Comment about why inactive or dead."></textarea>
        </fieldset>

        <fieldset id="photos">
            <h1>Photos</h1>

            <button class="edit" ng-click="editPhotos()">
                <img src="images/edit.svg" alt="edit" ng-hide="editPlant.photos">
                <img src="images/checkmark.svg" alt="edit" ng-hide="!editPlant.photos">
            </button>

            <img src="http://placekitten.com/50/50" alt="" class="thumbnail">
            <label for="">File_Name_for_acienthera_234</label>
            <input type="button" value="Habitat"  ng-hide="!editPlant.photos">
            <input type="button" value="Other"  ng-hide="!editPlant.photos">

            <br/>

            <img src="http://placebear.com/50/50" alt="" class="thumbnail">
            <label for="">File_Name_for_acienthera_567</label>
            <input type="button" value="Habitat"  ng-hide="!editPlant.photos">
            <input type="button" value="Other"  ng-hide="!editPlant.photos">


        </fieldset>
    </form>

    <fieldset id="graph">
        <h1>Blooming Graph</h1>
        <!--<img src="images/floweringchart.svg" alt="" id="graphsvg">-->
        <p>
            This is where the blooming graph or something like that is going to be</p>
    </fieldset>

    <section>
        <button>Back to top</button>
    </section>
</div>
