<div id="orchid-database">

    <div>
        <div id="allplantsh1">
            <h1>All Plants</h1>
        </div>

        <div class="searchbox-and-icon">
            <form>
                <div class="searchbox">
                    <input type="search" id="search" placeholder="Search. . ." name="databasesearch" ng-model="searchItem" ng-change="getPlantsBySearch(searchItem)">
                </div>
                <input type="image" id="mag-glass" name="search-button" src="images/Searchbutton.svg" width="20" ng-click="getPlantsBySearch(searchItem)">
            </form>
        </div>

        <div class="filter-left">
            <div class="filter-section">
                <button id="collapse" type="image" id="active">
                    -
                </button>
                <h2>
                    Filter</h2>
                <hr noshade>
            </div>
            <div class="filter-options">
                <ul ng-repeat="(key, val) in plants[0]">
                    <li ng-show="val.key != 'id'">
                        <div class="editPlant" ng-click="editFilterDisplay(val.key)">
                            <input id="Accessionnumber" name="Accessionnumber" type="checkbox" ng-checked="val.isDisplayed"/>
                            <span class="table-checkbox"></span>
                            <label>{{val.key}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-right">
            <table width="400" class="table" cell padding="10" cell spacing="2">
                <thead>
                    <tr>
                        <th ng-repeat="(key, val) in plants[0]" ng-show="val.isDisplayed && val.key != 'id'">{{val.key}}</th>
                        <!-- <th ng-repeat="(ind, val) in plantKeys" ng-show="val.isDisplayed">{{val.key.displayName}}</th> -->
                    </tr>
                    <tbody>
                        <tr ng-repeat="plant in plants">
                            <td ng-repeat="(key, val) in plant" ng-show="val.isDisplayed" ng-click="getMorePlantInfo(plant)">{{val.val}}</td>
                        </tr>
                    </tbody>
                </thead>
            </table>

            <div class="pagination">
                <div class="divider"></div>
                <div id="previous">
                    <button ng-click="previousPage()">
                        Previous
                    </button>
                </div>






                <ul>
                  <li>
                      <a ng-class="isCurrentPage(1) ? 'active_class' : 'pagination-ul'" ng-click='shifSlotsAndChangePage(1)'>1</a>
                  </li>
                    <li ng-repeat="page in pageArray track by $index">
                        <a ng-class="isCurrentPage(page) ? 'active_class' : 'pagination-ul'" ng-click='shifSlotsAndChangePage(page, $index)'>{{page}}</a>
                    </li>
                    <li>
                        <a ng-class="isCurrentPage(numberOfPages) ? 'active_class' : 'pagination-ul'" ng-click='shifSlotsAndChangePage(numberOfPages)'>{{numberOfPages}}</a>
                    </li>
                </ul>











                <div id="next">
                    <button ng-click="nextPage()">
                        Next
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
