<div id="orchid-database">

    <div>
        <div id="allplantsh1">
            <h1>All Plants</h1>
        </div>

        <div class="searchbox-and-icon">
            <form>
                <div class="searchbox">
                    <input type="search" id="search" placeholder="Search. . ." name="databasesearch" ng-model="searchItem" ng-change="getPlantsBySearch(searchItem)">
                </div>
                <input type="image" id="mag-glass" name="search-button" src="images/Searchbutton.svg" width="20" ng-click="getPlantsBySearch(searchItem)">
            </form>
        </div>

        <div class="filter-left">
            <div class="filter-section">
                <button id="collapse" type="image" id="active">
                    -
                </button>
                <h2>
                    Database Sections</h2>
                <hr noshade>
            </div>
            <div class="filter-options">
                <ul ng-repeat="(key, val) in plants[0]">
                   <li ng-show="val.key != 'id' && val.key != 'is donation' && val.key != 'username' && val.key != 'description' && val.key != 'inactive comment' && val.key != 'dead' && val.key != 'size' && val.key != 'value' && val.key != 'culture' &&  val.key != 'hybrid comment' && val.key != 'hybrid status' && val.key != 'origin comment' && val.key != 'donation comment' && val.key != 'value'">
                <div class="editPlant" ng-click="editFilterDisplay(val.key)">
                            <input id="Accessionnumber" name="Accessionnumber" type="checkbox" ng-checked="val.isDisplayed"/>
                            <span class="table-checkbox"></span>
                            <label>{{val.key | capitalize}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-right">
          <div class="inner-table-right">
            <table width="400" class="table" cell padding="10" cell spacing="2">
                <thead>
                    <tr>
                        <th ng-repeat="(key, val) in plants[0]" ng-show="val.isDisplayed && val.key != 'id'">{{val.key | capitalize}}</th>
                        <!-- <th ng-repeat="(ind, val) in plantKeys" ng-show="val.isDisplayed">{{val.key.displayName}}</th> -->
                    </tr>
                    <tbody>
                        <tr ng-repeat="plant in plants">
                            <td ng-repeat="(key, val) in plant" ng-show="val.isDisplayed" ng-click="getMorePlantInfo(plant)">{{val.val}}</td>
                        </tr>
                    </tbody>
                </thead>
            </table>
          </div>
            <div class="page">
              <div class="divider"></div>
                 <ul uib-pagination total-items="totalPlants" num-pages="numberOfPages" ng-model="currentPage" ng-change="pageChange(number)" max-size="2" class="pagination-sm" boundary-link-numbers="true" rotate="false" items-per-page="30"></ul>
            </div>
        </div>
    </div>

</div>

</div>
