<div id="orchid-database">


    <div>
        <div id="allplantsh1">
            <h1>All Plants</h1>
        </div>

        <div class="searchbox-and-icon">
            <form>
                <div class="searchbox">
                    <input type="search" id="search" placeholder="Search. . ." name="databasesearch" ng-model="searchItem" ng-change="getPlantsBySearch(searchItem)">
                </div>
                <input type="image" id="mag-glass" name="search-button" src="images/Searchbutton.svg" width="20" ng-click="getPlantsBySearch(searchItem)">
            </form>
        </div>

        <div class="filter-left">
            <div class="filter-section">
                <button id="collapse" type="image" id="active"> - </button>
                <h2>
                Filter</h2>
                <hr noshade>
            </div>
            <div class="filter-options">
                <ul ng-repeat="(key, val) in plants[0]">
                    <li ng-show="val.key != 'id'">
                        <div class="editPlant" ng-click="editFilterDisplay(val.key)">
                            <input id="Accessionnumber" name="Accessionnumber" type="checkbox" ng-checked="val.isDisplayed" /><span class="table-checkbox"></span>
                            <label>{{val.key}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-right">
            <table width="400" class="table" cell padding="10" cell spacing="2">
                <thead>
                    <tr>
                        <th ng-repeat="(key, val) in plants[0]" ng-show="val.isDisplayed && val.key != 'id'">{{val.key}}</th>
                        <!-- <th ng-repeat="(ind, val) in plantKeys" ng-show="val.isDisplayed">{{val.key.displayName}}</th> -->
                    </tr>
                    <tbody>
                        <tr ng-repeat="plant in plants">
                            <td ng-repeat="(key, val) in plant" ng-show="val.isDisplayed" ng-click="getMorePlantInfo(plant)">{{val.val}}</td>
                        </tr>
                    </tbody>
                </thead>
            </table>
            
            
                <div class="pagination">
 <div class="divider">

    </div> 
        <div id="previous">
            <button> Previous </button>
        </div>

<ul> 

<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
</ul>


        <div id="next">
            <button> Next </button>
        </div>
    </div>
        </div>

    </div>



   


<!-- pagination -->

<!--
    <div class="pagination">
 <div class="divider">

    </div> 
        <div id="previous">
            <button> Previous </button>
        </div>

<ul> 

<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">6</a></li>
<li><a href="#">7</a></li>
<li><a href="#">8</a></li>
<li><a href="#">9</a></li>
</ul>


        <div id="next">
            <button> Next </button>
        </div>
    </div>
-->



</div>