<body>

<main>
    <nav id="houses">
        <ul>
            <li><a href="#/house/display">Displayhouse</a></li>
            <li><a href="#/house/warm"> Warmhouse </class></a></li>
            <li><a href="#/house/cool">  Coolhouse </a></li>
            <li><a href="#/house/outside"><class id="active">  Outside </class></a></li>
        </ul>
    </nav>

    <div class="svg-padding">
        <button ng-click="moveRoom('OWB1')">OWB1</button>
        <button ng-click="moveRoom('OWB2')">OWB2</button>
        <button ng-click="moveRoom('OWB3')">OWB3</button>

    </div>

</main>
</body>


</html>