
    <body>

    <main>
        <nav id="houses">
            <ul>
                <li><a href="#/house/display">Displayhouse</a></li>
                <li><a href="#/house/warm"> Warmhouse </class></a></li>
                <li><a href="#/house/cool">  Coolhouse </a></li>
                <li>
                    <a href="#/house/outside">
                        <class id="active"> Outside </class>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="svg-padding outside">
            <div class="button-new outside-buttons">
                <button ng-click="moveRoom('OWB1')">OWB1</button>
            </div>
            <div class="button-new outside-buttons">
                <button ng-click="moveRoom('OWB2')">OWB2</button>
            </div>
            <div class="button-new outside-buttons">
                <button ng-click="moveRoom('OWB3')">OWB3</button>
            </div>

        </div>

    </main>
</body>


</html>