<section class="flower-popup" ng-controller="PhotoViewController">


    <form class="add-photo-popup">

        <div class="center">
            <h1>Photo Match</h1>
        </div>
        <button id="close" ng-click="closePopUp()"><img src="images/x.svg" alt=""></button>

        <div class="formcontent" ng-repeat="photo in similarPhotos">
            <div class="matching-photos">
                <img src="{{photo.url}}" alt="" class="thumbnail">
                <label >{{photo.fileName}}</label>
                <!-- photo.checked is the value to see if they are in the array-->
                <div class="button-new">
                    <input type="button" value="Select" ng-click="newPhotoLink(photo)" ng-hide="editPlant.photos" ng-class="{selectedPhoto:photo.clicked != 'NO', noglowHealth: photo.clicked == 'NO'}">
                </div>
            </div>
        </div>

        <div class="button-new" id="match-save">
            <input type="button" value="Save" ng-click="saveNewPhotos()" ng-hide="editPlant.photos || !similarPhotos.length" ng-class="{glowHealthPoor: photo.type == 'aaaa', noglowHealth: photo.type != 'aaaa'}">
        </div>

        <div class="no-photos-match" ng-show="!similarPhotos.length">
            <p>There are no matching photos for this plant.</p>
        </div>

    </form>

</section>
