<section class="flower-popup" ng-controller="PhotoViewController">


    <form class="add-photo-popup">

        <div class="center">
            <h1>{{ plant_accession_number }}</h1>
        </div>
        <button id="close" ng-click="closePopUp()"><img src="images/x.svg" alt=""></button>


        <h2>Add this photo:</h2>
        <img src="images/no-photo.svg" alt="">

        <h2>Select category:</h2>
        <p>This can be changed later.</p>

        <div class="photos-buttons">
            <input type="button" value="Habitat" ng-hide="!editPlant.photos">
            <input type="button" value="Other" ng-hide="!editPlant.photos">
        </div>


    </form>

</section>
