
<section class="flower-popup" ng-controller="PopUpViewController">
    <form>
        <div class="center">
            <h1>{{ plant_accession_number }}</h1>
        </div>

        <button id="close" ng-click="closePopUp()"><img src="images/x.svg" alt="close"></button>


    <div class="formcontent">
        <!--<section>-->
        <div class="top-margin">
            <label>Blooming:</label>
            <button class="startnewbloom" ng-click="startNewBloom()">Start New Bloom</button>
                <div class="start-stop-blooming">
                    <label>Start of Bloom:</label>
                    <button ng-click="blooming_start_date = today" class="today" ng-disabled="startNewBloomTodayDisable" ng-class="{customNgDisabled: startNewBloomTodayDisable}">Today</button>
                    <input type="date" id="startDateBloom" ng-show="!$root.ios" ng-model="blooming_start_date" ng-disabled="startNewBloomTodayDisable"/>
                    <output ng-show="$root.ios">{{ blooming_start_date | date }}</output>
                </div>

                <div class="start-stop-blooming">
                    <label>End of Bloom:</label>
                    <button ng-click="blooming_end_date = today" class="today" ng-disabled="disableEndBloom" ng-class="{customNgDisabled: disableEndBloom}">Today</button>
                    <input type="date" id="endDateBloom" ng-model="blooming_end_date" ng-disabled="disableEndBloom"/>
                    <output ng-show="$root.ios">{{ blooming_end_date | date }}</output>
                </div>

                    <div class="top-margin">
                        <textarea placeholder="Comment here about blooming." name="comments" cols="70" rows="4" ng-model="bloomingComment_note"></textarea>
                    </div>

                </div>

            <div class="top-margin">
                <label id="sprayed-for-pests">Sprayed for pests:</label>
                <button ng-click="sprayed_timestamp = today" class="today">Today</button>
                <input type="date" id="sprayedDate" ng-model="sprayed_timestamp" ng-show="!$root.ios"/>
                <output ng-show="$root.ios">{{ sprayed_timestamp | date }}</output>

                <textarea placeholder="Comment here about pest spraying." name="comments" cols="70" rows="4" ng-model="sprayed_note"></textarea>
            </div>

            <section id="repot" class="top-margin">
                <label>Repot Date:</label>
                <button ng-click="potting_timestamp = today" class="today">Today</button>
                <input ng-show="!$root.ios"type="date" id="repotDate" ng-model="potting_timestamp"/>
                <label ng-show="$root.ios">{{ potting_timestamp | date }}</label>
            </section>

            <section id="current-health" class="top-margin">
                <label>Current health condition:</label>
                    <button id="poor" ng-click="health_score = 'poor'" ng-class="{glowHealthPoor: health_score == 'poor', noglowHealth: health_score != 'poor'}">Poor</button>
                    <button id="fair" ng-click="health_score = 'fair'" ng-class="{glowHealthFair: health_score == 'fair', noglowHealth: health_score != 'fair'}">Fair</button>
                    <button id="good" ng-click="health_score = 'good'" ng-class="{glowHealthGood: health_score == 'good', noglowHealth: health_score != 'good'}">Good</button>

                <textarea name="comments" cols="70" rows="4" placeholder="Comment here about current health condition." ng-model="health_comment"></textarea>
            </section>

            <div class="top-margin popup-flagged">
                <label>Flag this plant:
                <input id="flagged-checkbox" type="checkbox" ng-model="flagged" ng-click="disableFlag()"/>
                <span id="flagged-span" class="table-checkbox"></span>
                </label>
                <textarea name="comments" cols="70" rows="4" placeholder="Explain why this plant is flagged." ng-model="flag_note"></textarea>
            </div>
        <div class="button-new">
            <button id="more-info">
                <a ng-click="moreInfo()">More Information</a>
            </button>
             </div>
        <div class="button-new">
            <button class="popup-save" type="submit" ng-click="submitPopUp()">Save</button>
        </div>

    </div>
    </form>
</section>
