<section class="flower-popup" ng-controller="PopUpViewController">
    <form>
        <div class="center">
            <h1>This is the new plant</h1>
        </div>

        <button id="close" ng-click="closePopUp()"><img src="images/x.svg" alt=""></button>

        <!--<section>-->
        <div class="top-margin">
            <label>Blooming:</label>
            <button class="startnewbloom">Start New Bloom</button>

            <br>
        </div>

        <div class="subsection">

            <label>
                Start of Bloom:</label>
            <button ng-click="blooming_start_date = today" class="today">Today</button>
            <button class="calendar"><img src="images/calendaricon.svg" alt="">
                <input type="date" id="startDateBloom" ng-model="blooming_start_date"></input>
            </button>
            <output>{{ blooming_start_date | date }}</output>
        </div>

        <br>

        <div class="subsection">
            <label>End of Bloom:</label>
            <button ng-click="blooming_end_date = today" class="today">Today</button>
            <button class="calendar"><img src="images/calendaricon.svg" alt="">
                <input type="date" id="endDateBloom" ng-model="blooming_end_date"></input>
            </button>

            <output>{{ blooming_end_date | date }}</output>

            <div class="top-margin">
                <textarea placeholder="Comment here about blooming." name="comments" cols="70" rows="4" ng-model="bloomingComment_note"></textarea>

            </div>

            <div class="top-margin">
                <label>Sprayed for pests:</label>
                <button ng-click="sprayed_timestamp = today" class="today">Today</button>
                <button class="calendar"><img src="images/calendaricon.svg" alt="">
                    <input type="date" id="sprayedDate" ng-model="sprayed_timestamp"></input>
                </button>
                <output>{{ sprayed_timestamp | date }}</output>

                <textarea placeholder="Comment here about pest spraying." name="comments" cols="70" rows="4" ng-model="sprayed_note"></textarea>
            </div>

            <section id="repot" class="top-margin">
                <label>Repot Date:</label>
                <button ng-click="potting_timestamp = today" class="today">Today</button>
                <button class="calendar"><img src="images/calendaricon.svg" alt="">
                    <input type="date" id="repotDate" ng-model="potting_timestamp"></input>
                </button>
                <label>{{ potting_timestamp | date }}</label>

            </section>

            <!--</section>-->

            <section id="current-health" class="top-margin">
                <p>Current health condition:
                    <button id="poor" ng-click="health_score = 'poor'">Poor</button>
                    <button id="fair" ng-click="health_score = 'fair'">Fair</button>
                    <button id="good" ng-click="health_score = 'good'">Good</button>
                </p>
                <textarea name="comments" cols="70" rows="4" placeholder="Comment here about current health condition." ng-model="health_comment"></textarea>
            </section>

            <div id="" class="top-margin">
                <label>Flag this plant:</label>
                <input type="checkbox" ng-model="flagged">
                <textarea name="comments" cols="70" rows="4" placeholder="Explain why this plant is flagged." ng-model="flag_note"></textarea>
            </div>

            <button id="more-info">
                <a href="#/plant">More Information</a>
            </button>

            <button id="save" type="submit" ng-click="submitPopUp()">Save</button>

        </form>
    </section>
