<div id="container">
    <p> Welcome Cheryl! </p>
</div>

<div id="register-title">
   <p> Welcome to your Current Registration Record. Here you will be able to create new users and delete old users. You may also edit any current user and change any current user's  login password. </p>
   
   
   
    <h1> Users: </h1>
</div>

<!--<div class="divider"></div>-->

<div id="form-users">
    <form action="users">
        <div class="section" ng-repeat="user in allUsers">
        <div class="icon"> 
                <button id="icon" ng-click="startEditingUser()">
                        <img src="images/edit.svg" alt="edit icon" ng-hide="editUsers">
                        <img src="images/checkmark.svg" alt="save icon" ng-hide="!editUsers">
                </button>
        </div>
            <label id="firstname" class="users">
              First Name <input type="text" name="firstname" ng-model="user.first_name" ng-disabled="!editUsers">
            </label>

            <label id="lastname" class="users">
              Last Name <input type="text" name="email" ng-model="user.last_name" ng-disabled="!editUsers">
            </label>

            <label id="email" class="users">
             Email <input type="text" name="email" ng-model="user.email" ng-disabled="!editUsers">
            </label>

            <label id="auth" class="users">
                    Manager <input type="checkbox" ng-click="changeAuthLevel(user)" ng-model="user.isAuthUser" ng-disabled="!editUsers" /><span class="table-checkbox" ></span>
                </label>

            <label id="password" class="users">
             <div class="button-new">
              <button ng-click="changePasswordFunction(user)">Change Password</button>
               </div>
            </label>
        <div class="delete-button-new">
            <button id="password" ng-click="deleteUserPopUp(user)">Delete User</button></div>
        </div>

        <div class="section" ng-show="newUser">

            <label id="firstname" class="users">
              First Name <input type="text" name="newUser.first_name" ng-model="editUsers" >
            </label>

            <label id="lastname" class="users">
              Last Name <input type="text" name="email" ng-model="newUser.first_name">
            </label>

            <label id="email" class="users">
             Email <input type="text" name="email" ng-model="newUser.first_name">
            </label>

            <label id="email" class="users">
                Password <input type="text" name="email" ng-model="newUser.password">
            </label>

            <label id="auth" class="users">
                Manager <input type="checkbox" ng-model="newUser.first_name"/><span class="table-checkbox"></span>
            </label>

            <label id="password" class="users">
              <button ng-click="saveUser(user)">Save</button>
            </label>

        </div>
        <div ng-include="'views/delete-user.html'" ng-hide="deleteUser"></div>

        <div ng-include="'views/change-password-admin.html'" ng-hide="changePassword"></div>
    </form>
</div>


<div class="add-user">
    <button ng-click="addUser()">Add User</button>
</div>
