<div id="container">
    <p> Hello!</p>
</div>

<div id="register-p">
   <p> Welcome to your Current Registration Record. Here you will be able to create new users and delete old users. You may also edit any current user and change any current user's  login password. </p>
</div>

<div id="register-title">
    <h1> Users: </h1>
    <div class="icon">
        <button id="icon" ng-click="startEditingUser()">
            <p ng-hide="!editUsers">Save</p>
            <img src="images/edit.svg" alt="edit icon" ng-hide="editUsers">
            <img src="images/checkmark.svg" alt="save icon" ng-hide="!editUsers">
        </button>
    </div>
</div>

<div id="form-users">
    <form >
        <div class="section" ng-repeat="user in allUsers">

            <label id="firstname" class="users">First Name</label>
            <input type="text" name="firstname" ng-model="user.first_name" ng-disabled="!editUsers">

            <label id="lastname" class="users">Last Name</label>
            <input type="text" name="email" ng-model="user.last_name" ng-disabled="!editUsers">

            <label id="email" class="users">Email</label>
            <input type="text" name="email" ng-model="user.email" ng-disabled="!editUsers || user.warning">

            <label id="auth" class="users">Manager
            <input type="checkbox" ng-click="changeAuthLevel(user)" ng-model="user.isAuthUser" ng-disabled="!editUsers || user.warning" /><span class="table-checkbox" ></span>
            </label>

            <label id="password" class="users">
                <div class="button-new">
                    <button ng-disabled="!editUsers" ng-click="changePasswordFunction(user)">Change Password</button>
                </div>
            </label>

        <div class="button-new">
            <button id="password" ng-disabled="!editUsers" ng-click="deleteUserPopUp(user)">Delete User</button></div>
        </div>


        <div class="section" ng-show="newUser">
            <label id="firstname" class="users">First Name </label>
            <input type="text" name="firstname" ng-model="nUser.firstName" >

            <label id="lastname" class="users">Last Name</label>
            <input type="text" name="email" ng-model="nUser.lastName">


            <label id="email" class="users">Email</label>
            <input type="text" name="email" ng-model="nUser.email">

            <label id="email" class="users">Password</label>
            <input type="password" name="email" ng-model="nUser.password">

            <label id="auth" class="users">Manager
            <input type="checkbox" ng-model="nUser.isAuthUser"/><span class="table-checkbox"></span>
            </label>

            <label id="password" class="users">
                <div class="button-new">
                    <button ng-click="saveUser(nUser)">Save</button>
                </div>
            </label>

        </div>
        <div ng-include="'views/delete-user.html'" ng-hide="deleteUser"></div>

        <div ng-include="'views/change-password-admin.html'" ng-hide="changePassword"></div>
    </form>
</div>
 


<div class="add-user button-new">
    <button ng-click="addUser()" ng-hide="newUser">Add User</button>
</div>



