
<body>

<main>

    <header class="page-nav">

        <h1 id="title">{{current_table_name}} </h1>
        <div id="A"><a href="#/house/{{room_type}}">
            <img src="images/backbutton.svg" alt="Back" /></a>
        </div>



        <!--<div id="title">-->
            <!--{{current_table_name}}-->
        <!--</div>-->
    </header>



    <div id="clear" ng-if="showTable">
        <table width="710" height="600" cell padding="10" cell spacing="5">
            <thead>
            <tr>
                <th>
                    <class id="accession"> Accession # </class>
                </th>
                <th>
                    <class id="name"> Name </class>
                </th>
                <th>
                    <class id="blooming">Verified Today</class>
                </th>
                <th>
                    <class id="has pests">Last Verified</class>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="plant in plantsInTable">


                <td>{{plant.accession_number}}</td>


                <td ng-click="showPopup(plant)"><button background-color="red" color="white" ng-if="plant.tagged">ALERT</button>{{plant.name}}</td>

                <td>
                    <label>
                        <input ng-click="addVarified(plant)" type="checkbox">
                    </label>
                </td>
                <td>
                    <label>
                        <p>{{plant.last_varified}}</p>
                    </label>
                </td>


            </tr>

            </tbody>
        </table>
    </div>

    <div ng-if="showTable">
    <button id="save" type="submit" ng-click="updateDates()">Save</button>


    <footer id="moveplants">
        <a href="#">Move Plants</a>
    </footer>

    <div ng-include="'views/pop-up.html'" ng-show="popupShow"></div>

    </div>

    <div ng-if="!showTable">
    <p>the table is empty.. what do we want to display</p>
    </div>

</main>
</body>
