
<body>

<main>

    <header class="page-nav">

        <h1 id="title">{{current_table_name}} </h1>
        <!--<div id="back-button">-->
            <a href="#/house/{{room_type}}">
            <div class="button-new"> 
            <button id="back-button"> 
            Back
            </button></div>   </a>
            
<!--
            
            <img id="back-button" src="images/backbutton.svg" alt="Back" />
-->
<!--        </div>-->



        <!--<div id="title">-->
            <!--{{current_table_name}}-->
        <!--</div>-->
    </header>




    <div id="clear" ng-if="showTable">
        <table width="710" height="600" cell padding="10" cell spacing="5">
            <thead>
            <tr>
                <th ng-show="movePlants">
                    <class id="accession"> Move </class>
                </th>

                <th>
                    <class id="accession"> Accession # </class>
                </th>
                <th>
                    <class id="name"> Scientific Name </class>
                </th>
                <th>
                    <class id="blooming">Verified Today</class>
                </th>
                <th>
                    <class id="has pests">Last Verified</class>
                </th>
            </tr>
            </thead>
            
            <div id="main-table">
            <tbody>
            <tr ng-repeat="plant in plantsInTable | orderBy : 'genus'"  ng-class="{alertRow: plant.tagged == true, bloomingRow: plant.isBlooming == true}"  ng-show="showRows">

                <td ng-show="movePlants">
                   <label> <input type="checkbox" ng-click="wantPlantMoved(plant)"/><span class="table-checkbox"></span></label>
                </td>

                <td ng-click="showPopup(plant)">{{plant.accession_number}}</td>


                <td ng-click="showPopup(plant)"><button background-color="red" color="white"></button>{{plant.genus}} {{plant.species}}</td>

                <td>
                    <label>
                        <input ng-click="addVarified(plant)" ng-checked="plant.isToday" type="checkbox"  ng-model="plant.verified"/><span class="table-checkbox"></span>
                    </label>
                </td>
                <td ><!-- ng-class="{alertRow: plant.isToday == true}" -->
                    <label>
                        <p>{{plant.last_varified}}</p>
                    </label>
                </td>


            </tr>

            </tbody>
            </div>
        </table>
    </div>

    <h1 id="no-plants-table" ng-show="!plantsToShow">No plants to show.</h1>


    <div class="table-footer button-new" ng-if="showTable">
        <button class="save" id="save" type="submit" ng-click="updateDates()">Save</button>

        <button class="moveplants" id="edit-button" type="submit" ng-click="movePlantsFunction()">Edit</button>
        <button class="save moveplants" id="move-certain-plants" type="submit" ng-show="showButton" ng-hide="!showButton" ng-click="showMoveFunction()">Move Selected Plants</button>
    </div>


        <!--SHOW POPUPS-->
    <div ng-include="'views/pop-up.html'" ng-show="mainPopUp"></div>

        <div ng-include="'views/MoveTable.html'" ng-show="moveTablePopUpBoolean"></div>


</main>
</body>
