main nav ul li {
    float: left;
    width: 33.333333333%;
    font-family: Aleo;
    font-size: 20px;
    font-weight: 100;
    background-color: black;
    text-align: center;
    padding: 22px 0;
}

main nav ul li a {
    text-decoration: none;
    color: white;
}

#active {
    color: black;
    font-weight: 400;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

main header {
    background: none;
}

#A {
    float: left;
    margin-top: 20px;
    display: inline-block;
}

#B {
    float: right;
    margin-top: -15px;
    display: inline-block;
}

.AandB {
    font-family: Aleo;
    font-weight: 400;
    display: inline-block;
}

.AandB a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

#B img {
    margin-right: -105px;
    display: inline-block;
}

#A a {
    margin-left: -105px;
    display: inline-block;
}

#B a {
    margin-right: 50px;
    display: inline-block;
}

main header h1 {
    font-family: Aleo;
    font-size: 35px;
}

#title {
    display: inline-block;
}

main table {
    margin: 50px 28px 50px 28px;
    background-color: #b3b3b3;
    width: 100%;
}

table thead {
    background-color: black;
    color: white;
    font-family: Aleo;
    font-size: 20px;
    font-weight: 100;
}

table,
td,
th {
    border: 4px solid white;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.red {
    background-color: rgba(237, 28, 36, 0.3);
}


/*tbody tr input[type="checkbox"] {*/

display:none;

}

/*tbody tr input[type="checkbox"] {*/
width: 20px;
height: 20px;
background:url(checkmark.svg);
cursor: pointer;

}

/*tbody tr input[type="checkbox"]:checked {*/
background:url(checkmark.svg);

}
footer p {
    background-color: black;
    color: white;
    font-family: Raleway;
    font-size: 20px;
    padding: 50px 40px;
    display: inline-block;
}
footer img {
    width: 75px;
}


.flower-popup {
    width: 80%;
    background-color: white;
    border: 4px solid black;
float: left;
    margin-left: 75px; 
}

.flower-popup label p {
 font-family: aleo;
    font-size: 20px; 
    padding: 10px
}

.flower-popup textarea {
    border: 4px solid black; 
    font-family: aleo; 
    color: #b3b3b3;
    font-size: 12px; 
}

#sprayed-for-pests label {
    font-family: aleo; 
    font-size: 20px; 
    padding: 10px;
    
}  




